<partial name="_Navigation" />
@model HulubejeBooking.Models.HotelModels.GetRooms
@using HulubejeBooking.Models.HotelModels;
@{
	var isVaild = ViewBag.isVaild;
	var isLoggedIN = ViewBag.isLoggedIn;
}
<style>
	.custom-line {
		border: none;
		border-top: 1px solid #777;
	}

	.roomimages:hover{
		cursor: pointer;
	}

	.visually-hidden {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		border: 0;
	}

	.hidden-amenities {
		display: none;
	}

	.toggle-amenities:checked ~ .hidden-amenities {
		display: flex;
	}

	.toggle-label::after {
		content: "Show More";
	}

	.toggle-amenities:checked ~ .toggle-label::after {
		content: "Show Less";
	}

	.toggle-label.show-less {
		display: none;
	}

	.toggle-amenities:checked ~ .toggle-label.show-less {
		display: block;
	}
</style>
<script>
	sessionStorage.setItem("isValid", @Json.Serialize(@isVaild));
	sessionStorage.setItem("isLoggedIn", @Json.Serialize(@isLoggedIN));
</script>
<title>Rooms</title>
<body style="background-color: rgb(235, 235, 235);">
	<div class="container">
		@{
			var AllPictureUrls = new List<string>();
			foreach (var rooms in Model.Data ?? new List<RoomType>())
			{
				foreach (var picture in rooms.PictureUrls ?? new List<string>())
				{
					AllPictureUrls.Add(picture);
				}
			}
		}

		<div class="row mt-2 g-2">
			<a href="#" id="hotelLink"><h5 class="card-title"><strong>@Model.HotelName</strong></h5></a>
			<div class="col-6">
				<div class="row">
					@if (AllPictureUrls?.Count > 0)
					{
						@for (int i = 1; i < 5 && i < AllPictureUrls?.Count; i++)
						{
							<div class="col-6 mb-2 d-flex align-items-start" id="myElement" style="padding-left: 5px;
							padding-right: 5px;">
								<img src="@AllPictureUrls[i]" alt="room picture" class="roomimages w-100  " />
							</div>
						}
					}
				</div>
			</div>
			@if (AllPictureUrls?.Count > 1)
			{
				<div class="col-6 mb-2 d-flex flex-wrap" style="padding-left: 5px; padding-right: 5px;">
					<img src="@AllPictureUrls[1]" alt="room picture" class="roomimages w-100 h-200  " />
				</div>
			}



		</div>
		<div class="row g-2 additionalroomimages">
			@if (AllPictureUrls?.Count > 0)
			{
				@for (int i = 1; i < 5 && i < AllPictureUrls.Count; i++)
				{
					<div class="col-md-3 col-6 mb-2 " style="padding-left: 5px;
							padding-right: 5px;">
						<img src="@AllPictureUrls[i]" alt="room picture" class="w-100 roomimages  " />
					</div>
				}
			}
		</div>

		<script>
			$(document).ready(function () {
				$('.roomimages').click(function (e) {
					e.preventDefault();
					$('#modal1').modal('show');
				});
				$('#modal1').on('click', '.close', function (e) {
					$('#modal1').modal('hide');
				});
				$('.show-more-amenities').click(function () {
					var target = $(this).data('target');
					var expanded = $(this).data('expanded');
					if (expanded === "false") {
						$(this).text("Show More ");
					} else {
						$(this).text("Show Less ");
					}
					$(this).data('expanded', (expanded === "false" ? "true" : "false"));
					$(target).collapse('toggle');
				});
			});
		</script>

		<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="modal1Label" aria-hidden="true">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="imageModalLabel">All Images</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="d-flex flex-wrap">
								@foreach (var roomPics in Model?.Data ?? new List<RoomType>())
								{
									@foreach (var pictureUrl in roomPics.PictureUrls ?? new List<string>())
									{
										<div class="col-lg-4 col-md-4 col-sm-4 mb-3">
											<img src="@pictureUrl" class="img-fluid shadow-1-strong rounded mb-4 w-100 h-200" alt="room picture" />
										</div>
									}
								}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<h5 class="mt-2 font-monospace">Hotel Amenities</h5>
		<div class="mt-1 bg-white p-2  border border-2 rounded">
			@{
				var roomPic = Model?.Data?.SelectMany(room => room.Aminities ?? Enumerable.Empty<Aminity>())?.ToList();
			}
			<div class="d-flex flex-wrap">
				@{
					var allDistinctAmenities = roomPic?.DistinctBy(a => a.Name).ToList();
				}
				@foreach (var amenity in allDistinctAmenities?.Take(6).OrderBy(a=>a.Name).ToList() ?? new List<Aminity>())
				{
					<div class="col-lg-2 col-md-3 col-sm-4 col-12  amenity-item d-lg-none" style="padding-left: 5px; padding-right: 5px;">
						<div class="border border-2 mt-1 bg-white">
							<img src="@amenity.ImageUrl" alt="Amenity Image" style="width: auto; height: 20px;" class="shadow-1-strong rounded me-2" />
							<span style="font-size: small;">@amenity.Name</span>
						</div>
					</div>
					
				}
				<div class="col-12 collapse additional-amenities" id="additionalAmenities">
					<div class="row">
						@foreach (var amenity in allDistinctAmenities?.Skip(6) ?? new List<Aminity>())
						{
							<div class="col-lg-2 col-md-3 col-sm-4 col-12 my-1 amenity-item " style="padding-left: 5px; padding-right: 5px;">
								<div class="border border-2 bg-white">
									<img src="@amenity.ImageUrl" alt="amenity" style="width: auto; height: 20px;" class="shadow-1-strong rounded me-2" />
									<span style="font-size: small;">@amenity.Name</span>
								</div>
							</div>
						}
					</div>
				</div>
				@if (allDistinctAmenities?.Count > 6)
				{
					<button class="show-more-amenities mt-2 d-lg-none" type="button" data-toggle="collapse" data-target="#additionalAmenities" style="
							border: none;
							background: none;
							padding: 0;
							margin: 0;
							font-family: inherit;
							font-size: inherit;
							cursor: pointer;
							color: #007bff;
							text-decoration: underline;">
						Show More
					</button>
				}
				@foreach (var amenity in allDistinctAmenities?.Take(20) ?? new List<Aminity>())
				{
					<div class="col-lg-2 col-md-3 col-sm-4 col-12 amenity-item d-none d-lg-block" style="padding-left: 5px; padding-right: 5px;">
						<div class="border border-2 mt-1 bg-white">
							<img src="@amenity.ImageUrl" alt="amenity" style="width: auto; height: 20px;" class="shadow-1-strong rounded me-2" />
							<span style="font-size: small;">@amenity.Name</span>
						</div>
					</div>
				}
			</div>
		</div>
		<div class="my-5">
			<div>
				<h4 class="font-monospace">Rooms</h4>
			</div>
			@foreach (var room in Model?.Data ?? new List<RoomType>())
			{
				var roompics = room?.PictureUrls?.ToList();
				<div class="card px-3 py-3 my-2  shadow-sm">
					<div class="row">
						<div class="col-lg-6">
							@if (roompics?.Count >= 1)
							{
								<img src="@roompics?[0]" alt="Room Picture" class="w-100" />
							}
						</div>
						<div class="col-lg-6">
							<div class="mb-lg-5">
								<p><strong><i class="fas fa-bed" style="color: #6c757d;"></i> Room Type :</strong> <span style="color: #007bff; font-weight: bold;">@(" " + room?.RoomTypeDescription)</span></p>
								<p><strong><i class="fas fa-money-bill"></i> Rate Per Night :</strong> @room?.AverageAmount?.ToString("N2", new System.Globalization.CultureInfo("am-ET")) ETB</p>
								<strong style="
								font-size: 14px;
								background-color: white;
								padding: 3px;
								white-space: nowrap;
								margin-bottom: 2px;
								color: @(room?.AvailableRoom >= 5 ? "green" : "red")
										">
									@(room?.AvailableRoom == 1 ? $"{room?.AvailableRoom} Room Left" : (room?.AvailableRoom <= 10 ? $"{room?.AvailableRoom} Rooms Left" : "Available"))
								</strong>
							</div>

							<hr class="custom-line">
							<div class="d-flex justify-content-between">
								<div class="px-1">
									<p>
										Price for @Model?.RoomFormData?.adultCount @(Model?.RoomFormData?.adultCount > 1 ? "Ãdults" : "Adult") and @Model?.RoomFormData?.numberOfNights
										@(Model?.RoomFormData?.numberOfNights > 1 ? "Nights" : "Night")
									</p>
								</div>
								<div class="p-1">
									<div class="row">
										<div class="col-md-12 text-md-right">
												<p class="mb-0"><strong style="color: blue">ETB @room?.TotalAmount?.ToString("N2", new System.Globalization.CultureInfo("am-ET"))</strong></p>
											<small style="color: @(room?.IsTaxInclusive == false ? "Red" : "Green")">@(room?.IsTaxInclusive == false ? "Doesn't Include Tax And Charges" : "Includes Tax")</small>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="mt-2">
							<div class="d-flex flex-wrap amenities-list">
								@{
									var roomamenities = room?.Aminities?.DistinctBy(a => a.Name);
								}
								@foreach (var amenity in roomamenities?.Take(6) ?? new List<Aminity>())
								{
									<div class="col-lg-2 col-md-3 col-sm-4 col-12 amenity-item d-lg-none" style="padding-left: 5px; padding-right: 5px;">
										<div class="border border-2 mt-1">
											<img src="@amenity.ImageUrl" alt="Amenity Image" style="width: auto; height: 20px;" class="shadow-1-strong rounded me-2" />
											<span style="font-size: small;">@amenity.Name</span>
										</div>
									</div>
								}
								<div class="col-12 collapse additional-amenities" id="additionalAmenities-@(room?.RoomTypeCode)">
									<div class="row">
										@foreach (var amenity in roomamenities?.Skip(6) ?? new List<Aminity>())
										{
											<div class="col-lg-2 col-md-3 col-sm-4 col-12 my-1 amenity-item" style="padding-left: 5px; padding-right: 5px;">
												<div class="border border-2 ">
													<img src="@amenity.ImageUrl" alt="Amenity Image" style="width: auto; height: 20px;" class="shadow-1-strong rounded me-2" />
													<span style="font-size: small;">@amenity.Name</span>
												</div>
											</div>
										}
									</div>
								</div>
								@if (room?.Aminities?.Count > 6)
								{
									<button class="show-more-amenities mt-2 d-lg-none" type="button" data-toggle="collapse" data-target="#additionalAmenities-@(room?.RoomTypeCode)" style="
										border: none;
										background: none;
										padding: 0;
										margin: 0;
										font-family: inherit;
										font-size: inherit;
										cursor: pointer;
										color: #007bff;
										text-decoration: underline;">
										Show More
									</button>
								}
								@foreach (var amenity in roomamenities ?? new List<Aminity>())
								{
									<div class="col-lg-2 col-md-3 col-sm-4 col-12 amenity-item d-none d-lg-block" style="padding-left: 5px; padding-right: 5px;">
										<div class="border border-2 mt-1">
											<img src="@amenity.ImageUrl" alt="Amenity Image" style="width: auto; height: 20px;" class="shadow-1-strong rounded me-2" />
											<span style="font-size: small;">@amenity.Name</span>
										</div>
									</div>
								}
							</div>
							<div class="d-flex justify-content-center mt-2">
								<button class="btn btn-primary  btn-sm mt-auto  submit" style="white-space: nowrap"
										data-rate-policy="@room?.RatePolicy"
										data-room-type-description="@room?.RoomTypeDescription"
										data-room-pakages="@room?.Packagelist"
										data-room-total-price="@room?.TotalAmount"
										data-room-average-amount="@room?.AverageAmount"
										data-room-type-code="@room?.RoomTypeCode"
										data-room-type="@room?.RoomTypeDescription"
										data-rate-code="@room?.RateCode"
										data-rate-code-detail="@room?.RateCodeDetail">
									Book This Room
								</button>
							</div>

						</div>

					</div>
				</div>
			}
		</div>
	</div>
</body>
<script>
	
	document.addEventListener("DOMContentLoaded", function () {
		if (sessionStorage.getItem("hotelName")) {
			var hotelLink = document.getElementById("hotelLink");

			var hotelName = sessionStorage.getItem("hotelName");

			hotelLink.innerHTML = '<h5 class="card-title">' + hotelName + '</h5>';
		}
	});

	$(document).ready(function () {
		$('.submit').click(function () {
			var form = $('<form action="/guestinfo" method="post">' +
				'<input type="hidden" name="averageAmount" value="' + $(this).data('room-average-amount') + '" />' +
				'<input type="hidden" name="totalPrice" value="' + $(this).data('room-total-price') + '" />' +
				'<input type="hidden" name="roomTypeCode" value="' + $(this).data('room-type-code') + '" />' +
				'<input type="hidden" name="roomTypeDescription" value="' + $(this).data('room-type') + '" />' +
				'<input type="hidden" name="roomPakages" value="' + $(this).data('room-pakages') + '" />' +
				'<input type="hidden" name="ratePolicy" value="' + $(this).data('rate-policy') + '" />' +
				'<input type="hidden" name="rateCode" value="' + $(this).data('rate-code') + '" />' +
				'<input type="hidden" name="rateCodeDetail" value="' + $(this).data('rate-code-detail') + '" />' +
				'</form>');
			$('body').append(form);
			form.submit(); 
		});
	});

</script>
<partial name="_Footer" />