@{
    var isValid = ViewBag.isValid;
    var isLoggedIN = ViewBag.isLoggedIn;
}
<script>
    sessionStorage.setItem("isValid", @Json.Serialize(@isValid));
    sessionStorage.setItem("isLoggedIn", @Json.Serialize(@isLoggedIN));
</script>
<title>Guest Information</title>

<partial name="_Navigation" />
@model HulubejeBooking.Models.HotelModels.RoomFormData
<div class="container mb-lg-2 mt-2">
    <form id="guestForm" class="ml-lg-2" method="post" asp-controller="GuestConfirmation" asp-action="Index">
        <div class="accordion" >
            @for (int i = 0; i < Model?.adultCount; i++)
            {
                <div class="accordion-item">    
                    <h2 class="accordion-header" id="heading@(i + 1)">
                        <button class="accordion-button @(i == 0 ? "": "collapsed")" type="button" data-bs-toggle="collapse" 
                            data-bs-target="#collapse@(i + 1)" aria-expanded="@(i == 0 ? "true": "false")" aria-controls="collapse@(i + 1)">
                            Guest @(i + 1)
                        </button>
                    </h2>
                    <div id="collapse@(i + 1)" class="accordion-collapse collapse @(i == 0 ? "show": "")" aria-labelledby="heading@(i + 1)" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            @if (i == 0)
                            {
                                <div class="form-check mb-2">
                                    <input type="checkbox" class="form-check-input" id="forMeCheckBox">
                                    <label class="form-check-label" for="forMeCheckBox">For Me</label>
                                </div>
                            }
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="name@(i + 1)">First Name</label>
                                        <input type="text" class="form-control" id="name@(i + 1)" name="Guests[@i].FirstName" placeholder="First Name" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="middle@(i + 1)">Middle Name</label>
                                        <input type="text" class="form-control" id="middle@(i + 1)" name="Guests[@i].MiddleName" placeholder="Middle Name" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="last@(i + 1)">Last Name</label>
                                        <input type="text" class="form-control" id="last@(i + 1)" name="Guests[@i].LastName" placeholder="Last Name" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="date@(i + 1)">Date of birth</label>
                                        <input type="date" class="form-control" id="date@(i + 1)" name="Guests[@i].DateOfBirth" placeholder="Your birth date" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="nationality@(i + 1)">Nationality</label>
                                        <select class="form-select operator" id="nationality@(i + 1)" name="Guests[@i].Nationality" required>
                                            <option selected>Ethiopian</option>
                                            <option>Eritrean</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Gender</label>
                                        <div class="form-check">
                                            <input type="radio" class="form-check-input" id="male@(i + 1)" name="Guests[@i].Gender" value="Male" required>
                                            <label class="form-check-label" for="male@(i + 1)">Male</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>&nbsp;</label>
                                        <div class="form-check">
                                            <input type="radio" class="form-check-input" id="female@(i + 1)" name="Guests[@i].Gender" value="Female" required>
                                            <label class="form-check-label" for="female@(i + 1)">Female</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email@(i + 1)">Email</label>
                                        <input type="email" class="form-control" id="email@(i + 1)" name="Guests[@i].Email" placeholder="Email" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="phone@(i + 1)">Phone</label>
                                        <input type="tel" class="form-control" id="phone@(i + 1)" name="Guests[@i].PhoneNumber" placeholder="Phone" required>
                                    </div>
                                </div>
                            </div>
                            @* <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="residentId@(i + 1)">Id Number</label>
                                        <input type="text" class="form-control" id="residentId@(i + 1)" name="Guests[@i].ResidentId" placeholder="Resident ID Number" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="idPicture@(i + 1)">Phone</label>
                                        <input type="file" class="form-control" id="idPicture@(i + 1)" name="Guests[@i].IdPicture" placeholder="Resident Id Picture" required>
                                    </div>
                                </div>
                            </div> *@
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="accordion mt-2">
            <div class="accordion-item">
                <h2 class="accordion-header" id="specialRequirementHeader">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#specialRequirementCollapse" aria-expanded="true" aria-controls="specialRequirementCollapse">
                        Special Requirement
                    </button>
                </h2>
                <div id="specialRequirementCollapse" class="accordion-collapse collapse show" aria-labelledby="specialRequirementHeader" data-bs-parent=".accordion">
                    <div class="accordion-body">
                        <div class="mb-1">
                            <textarea id="specialRequirement" name="specialRequirement" rows="4" style="width: 100%;"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="empty" style="height: 20vh">
            <div class="justify-content-center d-flex mb-5 mt-3">
                <button type="submit" class="btn btn-primary" >Submit</button>
            </div>
        </div>
    </form>
   
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("forMeCheckBox").addEventListener("change", function () {
            var isChecked = this.checked;

            if (isChecked) {
                var dob = "@ViewBag.Dob"; // Ensure that this variable is properly rendered and available
                var dobDatePart = dob.split(" ")[0];

                console.log("dob", dobDatePart);

                document.getElementById("name1").value = "@ViewBag.FirstName";
                document.getElementById("middle1").value = "@ViewBag.MiddleName";
                document.getElementById("last1").value = "@ViewBag.LastName";
                var dateInputElement = document.getElementById("date1");
                dateInputElement.valueAsDate = new Date(dobDatePart);


                var gender = "@ViewBag.Gender".toLowerCase();
                if (gender === "male") {
                    document.getElementById("male1").checked = true;
                } else if (gender === "female") {
                    document.getElementById("female1").checked = true;
                }
                document.getElementById("email1").value = "@ViewBag.EmailAddress";
                document.getElementById("phone1").value = "@ViewBag.PhoneNumber";
            } else {
                // Clear the fields
                document.getElementById("name1").value = "";
                document.getElementById("middle1").value = "";
                document.getElementById("last1").value = "";
                document.getElementById("male1").checked = false;
                document.getElementById("female1").checked = false;
                document.getElementById("email1").value = "";
                document.getElementById("phone1").value = "";
                document.getElementById("date1").value = "";
            }
        });
    });
</script>
<partial name="_Footer" />