﻿@{
    Html.RenderPartial("_Navigation");

}

@model HulubejeBooking.Models.HotelModels.HotelViewModel

<style>

    .cardPrice {
        box-shadow: 0px 9px 20px 0px rgba(14, 88, 48, 0.1);
        width: 150px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    h4 {
        font-size: 18px;
        font-weight: 500;
        color: #000;
        margin-bottom: 20px;
        text-align: center;
    }

    .price-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 10px;
    }

    label {
        font-size: 14px;
        font-weight: 500;
    }

    p {
        font-size: 16px;
        font-weight: 600;
    }

    .range-slider {
        position: relative;
        margin-top: 10px;
    }

    .range-fill {
        height: 4px;
        background-color: #063970;
        position: absolute;
        z-index: 1;
    }

    input[type="range"] {
        -webkit-appearance: none;
        width: 100%;
        background: transparent;
        position: absolute;
        left: 0;
    }

        input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 15px;
            width: 15px;
            border-radius: 50%;
            background: #063970;
            cursor: pointer;
            margin-top: -5px;
            position: relative;
            z-index: 1;
        }

        input[type="range"]::-webkit-slider-runnable-track {
            width: 100%;
            height: 5px;
            background: #e8e8e8;
            border-radius: 3px;
            border: none;
        }

    .range-fill {
        position: absolute;
        height: 10px;
        background-color: #063970;
        border-radius: 5px;
    }
</style>

<div class="container">

    <div class="row" style="padding-bottom:10px;">
        <div class="col-md-4">
            <div class="row" style="padding-right: 0px; padding-left:0px;">
                <form>
                    <fieldset>
                        <div class="row">
                            <legend>Filter by Amenities</legend>

                            <div class=" col-md-6 hotelAmenities">
                                <label>Hotel Amenities</label>
                                <div>
                                    <input type="checkbox" id="buisnessCenter" name="hotelAmenities" value="Business center">
                                    <label for="buisnessCenter">Business Center</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="gym" name="hotelAmenities" value="Gym">
                                    <label for="gym">Gym</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="conferenceFacilities" name="hotelAmenities" value="Conference facilities">
                                    <label for="conferenceFacilities">Conference Facilities</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="parking" name="hotelAmenities" value="Parking">
                                    <label for="parking">Parking</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="restaurantBar" name="hotelAmenities" value="Restaurant & Bar">
                                    <label for="restaurantBar">Restaurant & Bar</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="roomService" name="hotelAmenities" value="Room Service">
                                    <label for="roomService">Room Service</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="spa" name="hotelAmenities" value="Spa">
                                    <label for="spa">Spa</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="elevator" name="hotelAmenities" value="Elevator">
                                    <label for="elevator">Elevator</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="laundry" name="hotelAmenities" value="Laundry">
                                    <label for="laundry">Laundry</label>
                                </div>


                            </div>
                            <div class="vertical-line" style=" border-right: 1px solid #eee; height: 70%; margin-top: 20px;"></div>
                            <div class=" col-md-6 roomAmenities">
                                <label>Room Amenities</label>
                                <div>
                                    <input type="checkbox" id="charging" name="roomAmenities" value="Charging">
                                    <label for="charging">Charging</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="doubleBed" name="roomAmenities" value="Double Bed">
                                    <label for="doubleBed">Double Bed</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="freeBottledWater" name="roomAmenities" value="Free Bottled Water">
                                    <label for="freeBottledWater">Free Bottled Water</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="guestChair" name="roomAmenities" value="Guest Chair">
                                    <label for="guestChair">Guest Chair</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="miniBar" name="roomAmenities" value="Mini Bar">
                                    <label for="miniBar">Mini Bar</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="safebox" name="roomAmenities" value="Safebox">
                                    <label for="safebox">Safebox</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="satelliteTV" name="roomAmenities" value="Satellite TV">
                                    <label for="satelliteTV">Satellite TV</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="showerBox" name="roomAmenities" value="Shower Box">
                                    <label for="showerBox">Shower Box</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="singleBed" name="roomAmenities" value="Single Bed">
                                    <label for="singleBed">Single Bed</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="slippersAndTowels" name="roomAmenities" value="Slippers and Towels">
                                    <label for="slippersAndTowels">Slippers and Towels</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="telephone" name="roomAmenities" value="Telephone">
                                    <label for="telephone">Telephone</label>
                                </div>

                                <div>
                                    <input type="checkbox" id="wifi" name="roomAmenities" value="WiFi">
                                    <label for="wifi">WiFi</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="airConditioner" name="roomAmenities" value="Air conditioner">
                                    <label for="airConditioner">Air Conditioner</label>
                                </div>

                                <div>
                                    <input type="checkbox" id="coffeeMaker" name="roomAmenities" value="Coffee Maker">
                                    <label for="coffeeMaker">Coffee Maker</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="livingArea" name="roomAmenities" value="Living Area">
                                    <label for="livingArea">Living Area</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="bathTub" name="roomAmenities" value="Bath tab">
                                    <label for="bathTub">Bath Tub</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="hairDryer" name="roomAmenities" value="Hair Dryer">
                                    <label for="hairDryer">Hair Dryer</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="workingDesk" name="roomAmenities" value="Working Desk">
                                    <label for="workingDesk">Working Desk</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="balcony" name="roomAmenities" value="Balcony">
                                    <label for="balcony">Balcony</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="toothpasteAndBrush" name="roomAmenities" value="Toothpaste and Brush">
                                    <label for="toothpasteAndBrush">Toothpaste and Brush</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="bedNet" name="roomAmenities" value="Bed Net">
                                    <label for="bedNet">Bed Net</label>
                                </div>
                            </div>
                        </div>
                        
                    </fieldset>
                    <div>
                        <legend>Filter By Price</legend>
                        <div class="card cardPrice">
                            <div class="price-content">
                                <div>
                                    <label for="filter-min-value">Min</label>
                                    <p id="min-value" style="font-size: 12px;">ETB 50</p>
                                </div>
                                <div>
                                    <label for="filter-max-value">Max</label>
                                    <p id="max-value" style="font-size: 12px;">ETB 5,000</p>
                                </div>
                            </div>

                            <div class="range-slider">
                                <div class="range-fill"></div>
                                <input id="filter-min-value" type="range" class="min-price" value="50" min="10" max="5000" step="10" />
                                <input id="filter-max-value" type="range" class="max-price" value="5000" min="10" max="5000" step="10" />
                            </div>
                        </div>
                    </div>

                </form>
            </div>



        </div>
        <div class="col-md-8" >
            @if (Model.Hotels != null)
            {
                @foreach (var hotel in Model.Hotels)
                {
                    <div class="cardH card w-100 mt-3"
                         data-hotel-amenities="@string.Join(",", @hotel.roomAminities)"
                         data-room-amenities="@string.Join(",", hotel.hotelAminities)"
                         data-min-room-value="@hotel.MinRoomValue"
                         data-tin="@hotel.orgTin" data-oud="@hotel.BranchCode"
                         data-hotelRating="@hotel.HotelRating">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="@hotel.PortraitPicture" class="img-fluid rounded-start" alt="..." style="height:300px; width:300px;">
                            </div>
                            <div class="col-md-8">


                                <div class="card-body">
                                    <div class="row align-items-start ">
                                        <div class="col-md-9">
                                            <a href="#"><h5 class="card-title">@hotel.OrganizationName</h5></a>
                                            <div>
                                                <span class="card-text">
                                                    <script>
                                                        var dynamicRating = @hotel.HotelRating;
                                                        var starsContainer = $("<div>");

                                                        for (var i = 0; i < dynamicRating; i++) {
                                                            var filledStar = $("<i>").addClass("bi bi-star-fill");
                                                            starsContainer.append(filledStar);
                                                        }

                                                        for (var j = 0; j < 5 - dynamicRating; j++) {
                                                            var unfilledStar = $("<i>").addClass("bi bi-star");
                                                            starsContainer.append(unfilledStar);
                                                        }
                                                        $(".cardH:last .card-text").append(starsContainer);
                                                    </script>
                                                </span>
                                            </div>

                                            <a href="#" class="card-text"><small class="text-body-secondary">@hotel.BranchName</small></a>
                                            <div>
                                                <span><i class="bi bi-geo-alt-fill"></i> @hotel.SpecificLocation</span>
                                            </div>
                                            <div>
                                                <span style="display: inline-block; background-color: green; color: white;">@hotel.RateDescription</span>
                                            </div>
                                        </div>
                                        <span class="mt-2"><i class="bi bi-cash-stack"></i>Starting from: ETB @hotel.MinRoomValue.ToString("N2", new System.Globalization.CultureInfo("am-ET"))</span>
                                        <div>
                                        </div>
                                        <div class="col-md-3">
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-6">
                                            <div class="mt-2">
                                                <div style="border-left: 1px solid black; padding-left: 8px;">
                                                    <span type="text" data-toggle="tooltip" data-placement="bottom" title=""
                                                          style="color:@(hotel.HotelRoomsCount < 3 ? "red" : "green")">
                                                        Rooms Left: @hotel.HotelRoomsCount
                                                    </span>
                                                    <br>
                                                    <span type="text"
                                                          data-toggle="tooltip"
                                                          data-placement="bottom"
                                                          title=""
                                                          style="color: @(hotel.IsTaxInclusive ? "green" : "red")">
                                                        @(hotel.IsTaxInclusive ? "Tax Inclusive" : "Tax Exclusive")
                                                    </span>

                                                </div>
                                            </div>


                                        </div>
                                        <div class="col-6">
                                            <h5>Total Price: ETB @hotel.TotalPrice.ToString("N2", new System.Globalization.CultureInfo("am-ET")) </h5>
                                            <div>
                                                <p style="display: inline-block; background-color: green; color: white;">20% off</p>
                                            </div>
                                            <button class="btn btn-primary btn-sm viewAvailabilityBtn"
                                                    data-org-tin="@hotel.orgTin"
                                                    data-hotel="@hotel.OrganizationName"
                                                    data-oud="@hotel.BranchCode"
                                                    data-branch="@hotel.BranchName">
                                                View Availability
                                            </button>



                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                }
            }
            else
            {
                <h2>No Match!</h2>
            }

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZwT" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.js"></script>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();

        function filterCards() {
            var selectedHotelAmenities = getSelectedValues('hotelAmenities');
            var selectedRoomAmenities = getSelectedValues('roomAmenities');
            var userMinPrice = parseFloat($('#filter-min-value').val());
            var userMaxPrice = parseFloat($('#filter-max-value').val());

            $('.cardH').show();

            $('.cardH').each(function () {
                var card = $(this);
                var cardHotelAmenities = card.data('roomAmenities').split(',');
                var cardRoomAmenities = card.data('hotelAmenities').split(',');
                var cardMinValue = parseFloat(card.data('minRoomValue'));

                var priceRangeMismatch = cardMinValue < userMinPrice || cardMinValue > userMaxPrice;

                if (
                    (selectedHotelAmenities.length > 0 &&
                        !selectedHotelAmenities.every(amenity => cardHotelAmenities.includes(amenity))) ||
                    (selectedRoomAmenities.length > 0 &&
                        !selectedRoomAmenities.every(amenity => cardRoomAmenities.includes(amenity))) ||
                    priceRangeMismatch
                ) {
                    card.hide();
                }
            });

            $('#min-value').text('ETB ' + userMinPrice);
            $('#max-value').text('ETB ' + userMaxPrice);
        }

        $('.hotelAmenities input, .roomAmenities input').change(function () {
            filterCards();
        });

        $('#filter-min-value, #filter-max-value').on('input', function () {
            filterCards();
        });

        $('input[type=checkbox]').change(filterCards);

        function filterHotels() {
            var selectedHotelAmenities = getSelectedValues('roomAmenities');
            var selectedRoomAmenities = getSelectedValues('hotelAmenities');

            console.log('Selected Hotel Amenities:', selectedHotelAmenities);
            console.log('Selected Room Amenities:', selectedRoomAmenities);

            $('.cardH').each(function () {
                var card = $(this);
                var cardHotelAmenities = card.data('hotel-amenities').split(',');
                var cardRoomAmenities = card.data('room-amenities').split(',');

                var cardMinValue = parseFloat(card.data('minRoomValue'));
                var priceRangeMismatch = cardMinValue < userMinPrice || cardMinValue > userMaxPrice;

                console.log('Card Amenities:', {
                    HotelAmenities: cardHotelAmenities,
                    RoomAmenities: cardRoomAmenities
                });

                var showCard =
                    (selectedHotelAmenities.length === 0 ||
                        selectedHotelAmenities.every(function (amenity) {
                            return cardHotelAmenities.includes(amenity);
                        })) &&
                    (selectedRoomAmenities.length === 0 ||
                        selectedRoomAmenities.every(function (amenity) {
                            return cardRoomAmenities.includes(amenity);
                        }) && !priceRangeMismatch);

                card.toggle(showCard);
            });
        }

        function getSelectedValues(className) {
            return $('.' + className + ' input:checked').map(function () {
                return $(this).val();
            }).get();
        }

        filterCards();
    });
    $(document).ready(function () {
        // Iterate through each hotel and format the TotalPrice
        $('.card').each(function () {
            var totalPriceElement = $(this).find('.total-price');
            var totalPrice = parseFloat(totalPriceElement.text());

            // Check if the TotalPrice is a valid number
            if (!isNaN(totalPrice)) {
                var formattedPrice = formatMoney(totalPrice);
                totalPriceElement.text(formattedPrice);
            }
        });

        // Function to format a number as money with commas and two decimal places
        function formatMoney(number) {
            return number.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, 'ETB&,');
        }
    });

    $(document).ready(function () {
        // Use event delegation to handle click events on dynamically added buttons
        $(document).on('click', '.postAllDataBtn', function () {
            var selectedCardIndex = $(this).closest('.cardH').index();
            postSelectedData(selectedCardIndex);
        });

        function generateStarRating(rating) {
            var starsContainer = $('<span>');

            for (var i = 0; i < rating; i++) {
                var filledStar = $('<i>', { class: 'bi bi-star-fill' });
                starsContainer.append(filledStar);
            }

            for (var j = 0; j < 5 - rating; j++) {
                var unfilledStar = $('<i>', { class: 'bi bi-star' });
                starsContainer.append(unfilledStar);
            }

            return starsContainer;
        }
    });


    $(document).ready(function () {
        $('.viewAvailabilityBtn').click(function () {
            var orgTin = $(this).data('org-tin');
            var oud = $(this).data('oud');
            var hotelName = $(this).data('hotel');

            sessionStorage.setItem('hotelName', hotelName);
            sessionStorage.setItem('branchName', $(this).data('branch'));
            sessionStorage.setItem('orgTin', orgTin);
            sessionStorage.setItem('oud', oud);

            var date = sessionStorage.getItem('dateRange');
            var adultCount = sessionStorage.getItem('adultCount');
            var childCount = sessionStorage.getItem('childrenCount');
            var roomCount = sessionStorage.getItem('roomsCount');

            sessionStorage.setItem('hotelName', hotelName);

            var roomFormData = {
                Date: date,
                adultCount: adultCount,
                childrenCount: childCount,
                roomsCount: roomCount,
                orgTin: orgTin,
                date: date,
                oud: oud
            };

            $.ajax({
                url: '../HotelHome/Availability',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(roomFormData),
                success: function () {
                    window.location.href = '../FilteredRoom/Index';
                },
                error: function (error) {
                    console.error('Error:', error);
                }
            });
        });
    });

    // $(document).ready(function () {
    //     $('.viewAvailabilityBtn').click(function () {
    //         var orgTin = $(this).data('org-tin');
    //         var oud = $(this).data('oud');
    //         sessionStorage.setItem('hotelName', $(this).data('hotel'));
    //         sessionStorage.setItem('branchName', $(this).data('branch'));
    //         sessionStorage.setItem('orgTin', orgTin);
    //         sessionStorage.setItem('oud', oud);

    //         var Date = sessionStorage.getItem('Date');
    //         var adultCount = sessionStorage.getItem('adultCount');
    //         var childCount = sessionStorage.getItem('childCount');
    //         var roomCount = sessionStorage.getItem('roomCount');

    //         var form = $('<form action="/Home/Availability" method="post">' +
    //             '<input type="hidden" name="orgTin" value="' + orgTin + '" />' +
    //             '<input type="hidden" name="Date" value="' + Date + '" />' +
    //             '<input type="hidden" name="adultCount" value="' + adultCount + '" />' +
    //             '<input type="hidden" name="childCount" value="' + childCount + '" />' +
    //             '<input type="hidden" name="roomCount" value="' + roomCount + '" />' +
    //             '<input type="hidden" name="oud" value="' + oud + '" />' +
    //             '</form>');
    //         $('body').append(form);
    //         form.submit();
    //     });
    // });


</script>


@{
    Html.RenderPartial("_Footer");
}
