<head>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.5.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Hulubeje Booking</title>
    <style>
        .carousel-inner{
            position: relative;
            background-color: #ffffff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
            cursor: pointer;
            transition: transform 0.2s ease-in-out;
            overflow: hidden;
            height: 200px;
        }
        .carouselExample {
            transition: transform 0.3s ease-in-out;
        }

            .carouselExample:hover {
                transform: scale(1.05);
            }
        .carousel-item {
            height: 200px;
            transform: scale(1.05);
        }
    </style>
</head>
@{
    var isVaild = ViewBag.isVaild;
    var isLoggedIN = ViewBag.isLoggedIn;
}
@model HulubejeBooking.Models.Images
<script>
    sessionStorage.setItem("isValid", @Json.Serialize(@isVaild));
    sessionStorage.setItem("isLoggedIn", @Json.Serialize(@isLoggedIN));
</script>
<partial name="_Navigation" />


<body>
    <div class="container " style="background-color:rgba(255, 255, 255, 0)">
        @if (TempData["InfoMessage"] != null)
        {
            <div class="alert alert-success mt-2" role="alert" id="errorAlert">
                <p style="margin: 0;">@TempData["InfoMessage"]</p>
            </div>

            <script>
                setTimeout(function () {
                    document.getElementById('errorAlert').style.display = 'none';
                }, 3000);
            </script>
        }
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger mt-2" role="alert" id="errorAlert">
                <p style="margin: 0;">@TempData["ErrorMessage"]</p>
            </div>

            <script>
                setTimeout(function () {
                    document.getElementById('errorAlert').style.display = 'none';
                }, 3000);
            </script>
        }
        <div class="row mt-3 mb-3" >
            <div class="col-lg-4 col-md-6 mb-3">
                <a asp-action="Index" asp-controller="HotelHome">
                    <div id="carouselExample" class="carousel carouselExample slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="https://images.unsplash.com/photo-1611892440504-42a792e24d32?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aG90ZWwlMjByb29tfGVufDB8fDB8fHww"
                                     class="d-block w-100" alt="Image 1">
                                <div class="carousel-caption">
                                    <h2>Hotel Booking</h2>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="https://images.unsplash.com/photo-1618773928121-c32242e63f39?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8aG90ZWwlMjByb29tfGVufDB8fDB8fHww"
                                     class="d-block w-100" alt="Image 2">
                                <div class="carousel-caption">
                                    <h2>Hotel Booking</h2>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExample" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExample" data-slide-to="1"></li>
                        </ol>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <a asp-action="Index" asp-controller="CinemaHome">
                    <div id="cinemaCarousel" class="carousel slide carouselExample" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="https://images.unsplash.com/photo-1517604931442-7e0c8ed2963c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                     class="w-100" alt="Image 1">
                                <div class="carousel-caption">
                                    <h2>Cinema Booking</h2>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="https://lh3.googleusercontent.com/p/AF1QipPyT-1fnQa6Yz4PSA_rYMpiV50SzMVuAqIZN5iH=s680-w680-h510"
                                     class="w-100" alt="Image 2">
                                <div class="carousel-caption">
                                    <h2>Cinema Booking</h2>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#cinemaCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#cinemaCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        <ol class="carousel-indicators">
                            <li data-target="#cinemaCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#cinemaCarousel" data-slide-to="1"></li>
                        </ol>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <a asp-controller="BusHome" asp-action="Index">
                    <div id="busCarousel" class="carousel slide carouselExample" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="https://images.unsplash.com/photo-1509749837427-ac94a2553d0e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                     class="d-block w-100" alt="Image 1">
                                <div class="carousel-caption">
                                    <h2>Bus Ticket Booking</h2>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="https://images.unsplash.com/photo-1544620347-c4fd4a3d5957?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                     class="d-block w-100" alt="Image 2">
                                <div class="carousel-caption">
                                    <h2>Bus Ticket Booking</h2>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#busCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#busCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        <ol class="carousel-indicators">
                            <li data-target="#busCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#busCarousel" data-slide-to="1"></li>
                        </ol>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <div id="spaCarousel" class="carousel slide carouselExample" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://images.unsplash.com/photo-1445019980597-93fa8acb246c?q=80&w=2074&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                 class="d-block w-100" alt="Image 1">
                            <div class="carousel-caption">
                                <h2>Spa Booking</h2>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="https://images.unsplash.com/photo-1445019980597-93fa8acb246c?q=80&w=2074&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                 class="d-block w-100" alt="Image 2">
                            <div class="carousel-caption">
                                <h2>Spa Booking</h2>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#spaCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#spaCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    <ol class="carousel-indicators">
                        <li data-target="#spaCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#spaCarousel" data-slide-to="1"></li>
                    </ol>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <div id="eventCarousel" class="carousel slide carouselExample" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://images.unsplash.com/photo-1578559284795-c9e0d7f3198a?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                 class="d-block w-100" alt="Image 1">
                            <div class="carousel-caption">
                                <h2>Event Booking</h2>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="https://images.unsplash.com/photo-1574672009742-218e990bec89?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8c21hbGwlMjBjb25jZXJ0fGVufDB8fDB8fHww"
                                 class="d-block w-100" alt="Image 2">
                            <div class="carousel-caption">
                                <h2>Event Booking</h2>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#eventCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#eventCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    <ol class="carousel-indicators">
                        <li data-target="#eventCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#eventCarousel" data-slide-to="1"></li>
                    </ol>
                </div>
            </div>
            @{
                var firstPIc = Model.Bus.FirstOrDefault();
            }
            <div class="col-lg-4 col-md-6 mb-3">
                <a asp-action="Index" asp-controller="HotelHome">
                    <div id="carouselExample" class="carousel slide carouselExample" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="@firstPIc"
                                     class="d-block w-100" alt="Image 1">
                                <div class="carousel-caption">
                                    <h2>Hotel Booking</h2>
                                </div>
                            </div>
                            @foreach (var pics in Model.Bus){
                                <div class="carousel-item">
                                    <img src="@pics"
                                         class="d-block w-100" alt="Image 2">
                                    <div class="carousel-caption">
                                        <h2>Hotel Booking</h2>
                                    </div>
                                </div>
                            }
                        </div>
                        <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        <ol class="carousel-indicators">
                            @for (var i = 0; i < Model.Bus.Count; i++)
                            {
                                <li data-target="#carouselExample" data-slide-to="@i" class="@((i == 0) ? "active" : "")"></li>
                            }
                        </ol>
                    </div>
                </a>
            </div>
        </div>
    </div>




</body>
<partial name="_Footer" />
