<partial name="_Navigation" />
<head>
    <style>
        .passenger-container {
            margin-bottom: 10px;
        }

        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
        }
        .passenger-content {
            padding: 10px;
            border: 1px solid #ddd;
        }

        .footer {
            background-color: #f8f9fa;
            padding: 10px;
            text-align: center;
        }

        .form-group label {
            width: 150px;
            margin-right: 10px;  
        }

        .form-group select {
            display: inline-block;
            vertical-align: middle; 
            width: 40%;
        }

        .gender{
            display: inline-block;
            vertical-align: middle;
        }

        .extra-small-asterisk {
            font-size: 10px; /* Adjust the size as needed */
        }
    </style>
    <title>Passenger Information</title>
</head>
<body>
    <div class="row mt-3 mb-4">
        <div class="col-lg-9">
            <div class="content">
                <div class="container">
                    <h1>Passenger Information</h1>

                    <form method="post" action="#">
                        @for (int i = 1; i <= ViewBag.SelectedButtonsCount; i++)
                        {
                            <div class="passenger-container mb-3">
                                <details open @* @(i == 1 ? "open" : "") *@>
                                    <summary>Passenger @i - (Seat @GetSeatName(i))</summary>
                                    <div class="passenger-content">
                                        <div class="gender form-group mb-1">
                                            <label for="passengerName">Full Name<span style="color: red; margin-left: 5px;"><i class="fas fa-asterisk extra-small-asterisk"></i></span></label>
                                            <input type="text" name="passengerName_@i" required style="width: 250px;">
                                        </div>
                                        <div class="form-group mb-1">
                                            <label for="passenderId">Id Number<span style="color: red; margin-left: 5px;"><i class="fas fa-asterisk extra-small-asterisk"></i></span></label>
                                            <input type="text" name="passenderId_@i" required>
                                        </div>
                                        <div class="form-group mb-1">
                                            <label for="passengerAge">Age<span style="color: red; margin-left: 5px;"><i class="fas fa-asterisk extra-small-asterisk"></i></span></label>
                                            <input type="number" min="0" name="passengerAge_@i" required>
                                        </div>

                                        <div class="form-group mb-1">
                                            <label for="nationality">Nationality</label>
                                            <select class="form-select" name="nationality_@i" id="nationality">
                                                @* @foreach (var country in GetCountries())
                                            {
                                            if (country == "Ethiopia")
                                            {
                                            <option selected>@country</option>
                                            }
                                            else
                                            {
                                            <option>@country</option>
                                            }
                                            } *@
                                                <option selected>...</option>
                                                <option>Ethipian</option>
                                                <option>Eritrean</option>
                                            </select>
                                        </div>
                                        <div class="form-group mb-1">
                                            <label>Gender<span style="color: red; margin-left: 5px;"><i class="fas fa-asterisk extra-small-asterisk"></i></span> </label>
                                            <div class="gender">
                                                <input type="radio" id="male_@i" name="gender_@i" value="Male" required>
                                                <label for="male_@i">Male</label>

                                                <input type="radio" id="female_@i" name="gender_@i" value="Female" required>
                                                <label for="female_@i">Female</label>
                                            </div>
                                        </div>

                                        <div class="form-group mb-1">
                                            <label for="phoneNumber">Phone Number<span style="color: red; margin-left: 5px;"><i class="fas fa-asterisk extra-small-asterisk"></i></span></label>
                                            <input type="tel" name="phoneNumber_@i" required>
                                        </div>

                                        <div class="form-group mb-1">
                                            <label for="email">Email:</label>
                                            <input type="email" name="email_@i">
                                        </div>
                                    </div>
                                </details>
                            </div>
                        }
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-3  mt-2">
            <div style="font-family: Arial, sans-serif; margin: 0 auto; border: 1px solid #ccc; background-color:lightgrey; padding: 20px; border-radius: 8px;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); text-align: center; width:285px; ">
                <div class="row">
                    <h4 class="mb-1" style="color: #333; margin-bottom: 10px; background-color:#F9F7F5; padding: 10px;">@ViewBag.OperatorName</h4>
                    <div style="text-align: left;">
                        <p class="mb-1" style="margin: 0; color: #555; font-size: 15px;">
                            <strong>Level:</strong>&nbsp; @ViewBag.Level
                        </p>
                        <p class="mb-1" style="margin: 0; color: #555; font-size: 15px;">
                            <strong>Depature City:</strong>&nbsp; @ViewBag.DepatureCity
                        </p>
                        <p class="mb-1" style="margin: 0; color: #555; font-size: 15px;">
                            <strong>Destination City:</strong>&nbsp; @ViewBag.DestinationCity
                        </p>
                        <p class="mb-1" style="margin: 0; color: #555; font-size: 15px;">
                            <strong>Depature Date:</strong>&nbsp; @ViewBag.Date
                        </p>
                        <p class="mb-1" style="margin: 0; color: #555; font-size: 15px;">
                            <strong>Time:</strong>&nbsp; @ViewBag.Time
                        </p>
                        <p class="mb-1" style="margin: 0; color: #555; font-size: 15px;">
                            <strong>Plate Number:</strong>&nbsp; @ViewBag.PlateNumber
                        </p>
                        <p class="mb-1" style="margin: 0; color: #555; font-size: 15px;">
                            <strong>Terminal:</strong>&nbsp; @ViewBag.Terminal
                        </p>
                        <p class="mb-1" style="margin: 0; color: #555; font-size: 15px;">
                            <strong>Tariff:</strong>&nbsp; @ViewBag.Tariff
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <partial name="_Footer" />
    </div>
</body>
@functions {
    List<string> GetCountries()
    {
        try
        {
            var client = new System.Net.Http.HttpClient();
            var response = client.GetStringAsync("https://restcountries.com/v2/all").Result;

            var countryList = Newtonsoft.Json.JsonConvert.DeserializeObject<List<dynamic>>(response);

            // Extract 'demonym' property and sort countries alphabetically
            var sortedCountries = countryList
                .OrderBy(c => (c.name?.ToString()) ?? "")
                .Select(c => (string)c.demonym)
                .ToList();

            // Move Ethiopia and Eritrea to the top
            sortedCountries.Remove("Ethiopian");
            sortedCountries.Remove("Eritrean");
            sortedCountries.Insert(0, "Ethiopian");
            sortedCountries.Insert(1, "Eritrean");

            return sortedCountries;
        }
        catch (Exception ex)
        {
            return new List<string>();
        }
    }
}
@functions {
    string GetSeatName(int passengerIndex)
    {
        var selectedButtons = ViewBag.SelectedButtons as List<string>;

        if (selectedButtons != null && selectedButtons.Count > 0)
        {
            var orderedSelectedButtons = selectedButtons.OrderBy(order => int.Parse(order)).ToList();
            return orderedSelectedButtons[passengerIndex - 1];
        }

        return string.Empty;
    }
}