@{
    var isVaild = ViewBag.isVaild;
    var isLoggedIN = ViewBag.isLoggedIn;
}
<script>
    sessionStorage.setItem("isValid", @Json.Serialize(@isVaild));
    sessionStorage.setItem("isLoggedIn", @Json.Serialize(@isLoggedIN));
</script>
<partial name="_Navigation" />
@model HulubejeBooking.Models.HotelModels.HotelDetailModel
<title>Hotel Detail</title>
<style>
    /*     @@import "bourbon";
             */
    * {
        box-sizing: border-box;
    }

    .login-form input {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 0;
        outline: 0;
        background: #f1f1f1;
        font-weight: 300;
        font-style: italic;
        border-radius: 2px;
    }

    .login-wrapper {
        width: 100%;
    }

    button {
        padding: 8px 15px;
        border: 0;
        outline: 0;
        color: #fff;
        background: #063970;
        font-size: 14px;
        border-radius: 4px;
        box-shadow: 0 4px 0 darken(#063970, 5%);
    }

    .startbooking {
        text-transform: uppercase;
    }

        button:active {
            margin-top: 2px;
            box-shadow: 0 2px 0 darken(#063970, 5%);
        }

    .login-container {
        position: relative;
        z-index: 1;
    }

    .login-form {
        width: 100%;
        display: none;
        position: absolute;
        padding: 20px;
        margin-top: 10px;
        background: #ddd;
        border-radius: 4px;
        box-shadow: 0 4px 0 darken(#ddd, 5%);
    }

        .login-form input:last-child {
            margin-bottom: 0;
        }

    input[type="submit"] {
        color: #fff;
        background: gray;
        font-style: normal;
        box-shadow: 0 4px 0 darken(gray, 5%);
    }

    .login-form .dropdown-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .login-form .dropdown-content button {
            margin: 0;
        }

        .login-form .dropdown-content span {
            margin: 0 10px;
        }

    @@keyframes slide {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .open {
        animation: slide 1s;
        display: block;
    }

    .image:hover{
        cursor: pointer;
    }

    @@media (max-width: 500px) {
        .searchbar {
            flex-direction: column;
            margin: 10px;
        }

        .login-wrapper,
        #date-range-picker,
        #searchButton {
            width: 100% !important;
            margin-right: 0;
            margin-bottom: 3px;
            height: 50px !important;
        }
    }
</style>

<div class="row" style="background-color:#063970;">
    <div class="container">
        <header class="container-fluid" style="padding-top: 2%">
            <div>
                <h1 style="color: white;">Welcome to @Model?.Name</h1>
            </div>
        </header>
    </div>
    <div class="container mt-lg-5 mt-3">

        <div class="d-flex searchbar">
            <div style="width:100%">
                <input class="form-control" type="text" id="date-range-picker" placeholder="Checkin-Checkout" style="border-color:#FEBB02; height:60px;">
            </div>

            <div class="login-wrapper">
                <input class="login-wrapper form-control" id="login-button" value="Submit" style="border-color:#FEBB02; height:60px;">
                <div class="login-container">
                    <form class="login-form container" id="searchForm">
                        <div class="form-group">
                            <div class="row mb-3">
                                <div class="col container">
                                    <label for="adultCount">Adults:</label>
                                    <div class="input-group">
                                        <button type="button" class="btn btn-outline-secondary" onclick="changeValue('adult', 'decrement')">-</button>
                                        <span class="input-group-text w-50 d-flex justify-content-center align-items-center" id="adultCount">1</span>
                                        <button type="button" class="btn btn-outline-secondary" onclick="changeValue('adult', 'increment')">+</button>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col container">
                                    <label for="childrenCount">Children:</label>
                                    <div class="input-group">
                                        <button type="button" class="btn btn-outline-secondary" onclick="changeValue('children', 'decrement')">-</button>
                                        <span class="input-group-text w-50 d-flex justify-content-center align-items-center" id="childrenCount">0</span>
                                        <button type="button" class="btn btn-outline-secondary" onclick="changeValue('children', 'increment')">+</button>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col container">
                                    <label for="roomsCount">Rooms:</label>
                                    <div class="input-group">
                                        <button type="button" class="btn btn-outline-secondary" onclick="changeValue('rooms', 'decrement')">-</button>
                                        <span class="input-group-text w-50 d-flex justify-content-center align-items-center" id="roomsCount">1</span>
                                        <button type="button" class="btn btn-outline-secondary" onclick="changeValue('rooms', 'increment')">+</button>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <button type="button" class="btn btn-primary btn-sm" onclick="submitForm()">Done</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div>
                <button class="btn btn-primary startbooking" type="button" id="searchButton" style="border-color:#FEBB02; height:60px; font-size: 16px;" >Start Booking</button>
            </div>
        </div>
    </div>
</div>
@if (Model != null)
{
    <div class="container mt-2">
        <div class="row p-3 p-1">
            <div class="col-md-6 p-2 border rounded rounded-2 bg-light mt-3"  style="min-height: 100px">
                <h4 class="ml-lg-3">About Us</h4>
                <p class="ml-lg-2" style="  color: #333;">@Model?.Description</p>
            </div>
            <div class="col-md-6 p-lg-3 p-2">
                <div class="row">
                    @foreach (var image in Model?.ImageModel?.Data?.OrderBy(x => Guid.NewGuid()).Take(5).ToList() ?? new List<string>())
                    {
                        <div class="col-6">
                            <img src="@image" class="img-fluid image mb-2" alt="@image" style="max-width: 100%; height: auto;" />
                        </div>
                    }
                </div>
                <script>
                    $(document).ready(function () {
                        $('.image').click(function (e) {
                            e.preventDefault();
                            $('#imageModal').modal('show');
                        });
                        $('#imageModal').on('click', '.cancel', function (e) {
                            $('#imageModal').modal('hide');
                        });

                        $('#imageModal').on('click', '.close', function (e) {
                            $('#imageModal').modal('hide');
                        });
                    });
                </script>
                <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true" >
                    <div class="modal-dialog modal-xl" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="imageModalLabel">All Images</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    @foreach (var image in Model?.ImageModel?.Data  ?? new List<string>())
                                    {
                                        <div class="col-lg-3 col-md-4 col-sm-6">
                                            <img src="@image" class="img-fluid mb-2" alt="Hotel Image" style="max-height:auto;"/>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary close" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-1">
            <div class="col-md-6">
                <h4 class="bg-light p-2 text-center"> Amenities </h4>
                @if (Model?.CompanySchedule?.Data?.Aminities?.Count > 0)
                {
                    <div class="p-lg-3 p-1 row">
                        @foreach (var amenity in Model?.CompanySchedule?.Data?.Aminities ?? new List<HulubejeBooking.Models.HotelModels.Amenity>())
                        {
                            <div class="col-lg-6 col-md-6 col-sm-12 mb-2">
                                <div class="p-2 border">
                                    <img src="@amenity.ImageUrl" alt="Amenity Image" class="rounded me-2" style="height: 30px; object-fit: contain;">
                                    <span>@amenity.Name</span>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
            <div class="col-md-6">
                <h4 class="bg-light p-2 text-center">Payment Options</h4>
                <div class="row g-3 p-lg-3 p-1">
                    @if (Model?.PaymentOptions?.Data?.Count > 0)
                    {
                        @foreach (var paymentMethod in Model.PaymentOptions.Data)
                        {
                            <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-3">
                                <div class="card h-100 shadow-sm rounded-3 border-0 p-1">
                                    <div class="card-body p-0">
                                        <img src="@paymentMethod.PaymentProcessorImage" class="img-fluid mb-2" alt="@paymentMethod?.PaymentProcessorName" style="max-width: 100%; height: auto;">
                                        <h5 class="card-title text-center" style="font-size: 16px;">@paymentMethod?.PaymentProcessorUnitName</h5>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
}




@*     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" /> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
 *@
<script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script>

        jQuery(document).ready(function ($) {
            $("#form").select2({
                tags: true,
                placeholder: "Select an option",
                allowClear: true,
            });

            var datepicker = $('#date-range-picker');
            datepicker.daterangepicker({
                opens: 'left',
                autoApply: true,
                locale: {
                    format: 'MM/DD/YYYY',
                },
                startDate: moment().startOf('day'),
                endDate: moment().startOf('day').add(1, 'days'),
            });

            datepicker.on('apply.daterangepicker', function (ev, picker) {
                if (picker.startDate && picker.endDate) {
                    datepicker.attr('placeholder', "Checkin" + ' - ' + "Checkout");
                } else {
                    datepicker.attr('placeholder', 'Checkin-Checkout');
                }
            });

            $('#login-button').click(function (e) {
                e.stopPropagation();
                $('.login-form').toggleClass('open');
            });

            $(document).click(function () {
                $('.login-form').removeClass('open');
            });

            $('.login-container').click(function (e) {
                e.stopPropagation();
            });
        });


        function changeValue(category, action) {
            var countElement = $('#' + category + 'Count');
            var currentCount = parseInt(countElement.text());
            if (action === 'increment') {
                countElement.text(currentCount + 1);
            } else if (action === 'decrement' && currentCount > 1) {
                countElement.text(currentCount - 1);
            }
            updateLoginButtonValue();
        }
        function updateLoginButtonValue() {
            var adultCount = parseInt($('#adultCount').text());
            var childrenCount = parseInt($('#childrenCount').text());
            var roomsCount = parseInt($('#roomsCount').text());

            var defaultValue = 'Adults: ' + adultCount + ', Children: ' + childrenCount + ', Rooms: ' + roomsCount;
            $('#login-button').val(defaultValue).attr('placeholder', defaultValue);
        }
        function hideForm() {
            $('.login-container').removeClass('.login-form');
        }

        function submitForm() {
            var adultCount = parseInt($('#adultCount').text());
            var childrenCount = parseInt($('#childrenCount').text());
            var roomsCount = parseInt($('#roomsCount').text());

            updateLoginButtonValue();
            hideForm();

        }
        updateLoginButtonValue();


        function getFormData() {
            var selectedDestination = $('.form-select').val();
            var dateRange = $('#date-range-picker').attr('placeholder');
            var adultCount = parseInt($('#adultCount').text());
            var childrenCount = parseInt($('#childrenCount').text());
            var roomsCount = parseInt($('#roomsCount').text());

            return {
                destination: selectedDestination,
                dateRange: dateRange,
                adults: adultCount,
                children: childrenCount,
                rooms: roomsCount
            };
        }

        // function storeFormData() {
        //     var formData = getFormData();
        //     localStorage.setItem('formData', JSON.stringify(formData));
        // }

        // function retrieveFormData() {
        //     var storedFormData = localStorage.getItem('formData');
        //     return storedFormData ? JSON.parse(storedFormData) : null;
        // }

        // $(document).ready(function () {
        //     var storedData = retrieveFormData();
        //     if (storedData) {
        //         // $('.form-select').val(storedData.destination);
        //         $('#date-range-picker').attr('placeholder', storedData.dateRange);
        //         $('#adultCount').text(storedData.adults);
        //         $('#childrenCount').text(storedData.children);
        //         $('#roomsCount').text(storedData.rooms);
        //     }
        // });

        // $(document).ready(function () {
        //     $('#searchButton').click(function () {

        //         var form = $('#searchForm');
        //         form.submit();
        //     });
        // });

        $(document).ready(function () {
            $('#searchButton').on('click', function () {
                var adultCount = parseInt($('#adultCount').text(), 10);
                var childrenCount = parseInt($('#childrenCount').text(), 10);
                var roomsCount = parseInt($('#roomsCount').text(), 10);
                var dateRange = $('#date-range-picker').val();

                var dateParts = dateRange.split(' - ');

                var arrivalDate = new Date(Date.parse(dateParts[0]));
                var departureDate = new Date(Date.parse(dateParts[1]));

                function calculateNumberOfNights(arrivalDate, departureDate) {
                var timeDifference = departureDate.getTime() - arrivalDate.getTime();
                    var numberOfNights = Math.round(timeDifference / (1000 * 3600 * 24));
                    return numberOfNights;
                }

                var numberOfNights = calculateNumberOfNights(arrivalDate, departureDate);

                var formData = {
                    orgCode:'@Model?.CompanyCode',
                    Date: dateRange ,
                    adultCount: adultCount,
                    childrenCount: childrenCount,
                    roomsCount: roomsCount,
                    numberOfNights: numberOfNights,
                    oud:'@Model?.OrgOUD',
                    name: '@Model?.Name',
                    CityName: '@Model?.CityName',
                    branchName: '@Model?.BranchName'
                };
                console.log(formData);
                $.ajax({
                    url: '../Hotel/Availability',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(formData),
                    success: function () {
                        window.location.href = '../rooms';
                    },
                    error: function (error) {
                        console.error('Error:', error);
                    }
                });

            });

        });


    </script>


<partial name="_Footer" />