@using System.Web
@model List<HulubejeBooking.Models.CInemaModels.MovieModel>;
@if (Model is not null)
{
    <div class="row" id="movieCardsContainer">
        @{
            var groupedMovies = Model.GroupBy(m => m.MovieName);
            var delay = 0.1; // Initial delay in seconds

            @foreach (var group in groupedMovies)
            {
                var movie = group.First();
                var companyNames = group.Select(m => m.CompanyName).ToList();

                <div class="col mb-2 mt-2 movie-card" style="animation-delay: @(delay)s;">
                    <div class="card position-relative">
                        <img src="@movie.PosterUrl" alt="Poster Image" class="img-fluid">
                        <div class="button-container">
                            @foreach (var companyName in companyNames)
                            {
                                var sanitizedOverview = HttpUtility.JavaScriptStringEncode(movie.Overview);
                                <button class="button" onclick="onCompanyButtonClick('@movie.MovieCode', '@companyName', '@sanitizedOverview', '@movie.ArticleCode', '@movie.PosterUrl', '@movie.MovieName', '@movie.MovieId', '@movie.BackdropPath')">
                                    @companyName
                                </button>
                            }
                        </div>
                        <div class="card-title">
                            @movie.MovieName (@movie.ReleaseYear)
                        </div>
                    </div>
                </div>
                delay += 0.1;
            }
        }
    </div>
}
else
{
    <div class="message-container">
        <p class="no-movie">There are no movies available on this day</p>
    </div>
}
<script>
    function onCompanyButtonClick(movieCode, companyName, overview, articleCode, posterUrl, movieName, movieId, backdropPath) {
        var selectedDate = document.getElementById("selectedDate").value;

        sessionStorage.setItem('selectedMovieName', movieName);
        sessionStorage.setItem('selectedCompanyName ', companyName);
        sessionStorage.setItem('selectedDate', selectedDate);
        sessionStorage.setItem('articleCode', articleCode);
        // Create a form dynamically
        var form = $('<form action="/CinemaMovieDetails/Details" method="post">' +
            '<input type="hidden" name="selectedDate" value="' + selectedDate + '" />' +
            '<input type="hidden" name="movieCode" value="' + movieCode + '" />' +
            '<input type="hidden" name="companyName" value="' + companyName + '" />' +
            '<input type="hidden" name="overview" value="' + overview + '" />' +
            '<input type="hidden" name="articleCode" value="' + articleCode + '" />' +
            '<input type="hidden" name="posterUrl" value="' + posterUrl + '" />' +
            '<input type="hidden" name="movieName" value="' + movieName + '" />' +
            '<input type="hidden" name="movieId" value="' + movieId + '" />' +
            '<input type="hidden" name="backdropPath" value="' + backdropPath + '" />' +
            '</form>');
        $('body').append(form);

        form.submit();
    }
</script>