@using System.Web
@model List<HulubejeBooking.Models.CInemaModels.MovieModel>;
@if (Model is not null)
{
    <div class="row" id="movieCardsContainer">
        @{
            var groupedMovies = Model.GroupBy(m => m.MovieName);
            var delay = 0.1; // Initial delay in seconds

            @foreach (var group in groupedMovies)
            {
                var movie = group.First();
                var companyNames = group.Select(m => m.CompanyName).ToList();

                <div class="col mb-2 mt-2 movie-card" style="animation-delay: @(delay)s;">
                    <div class="card position-relative">
                        <img src="@movie.PosterUrl" alt="Poster Image" class="img-fluid">
                        <div class="button-container">
                            @foreach (var companyName in companyNames)
                            {
                                var sanitizedOverview = HttpUtility.JavaScriptStringEncode(movie.Overview);
                                <button class="button" onclick="onCompanyButtonClick('@movie.MovieCode', '@companyName', '@sanitizedOverview', '@movie.ArticleCode', '@movie.PosterUrl', '@movie.MovieName', '@movie.MovieId', '@movie.BackdropPath')">
                                    @companyName
                                </button>
                            }
                        </div>
                        <div class="card-title">
                            @movie.MovieName (@movie.ReleaseYear)
                        </div>
                    </div>
                </div>
                delay += 0.1;
            }
        }
    </div>
}
else
{
    <div class="message-container">
        <p class="no-movie">There are no movies available on this day</p>
    </div>
}