@model HulubejeBooking.Models.BusModels.SeatLayoutFormData
<partial name="_Navigation" />
<style>
    .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        font-size: 10px;
        font-weight: 400;
        background: #fff;
        border: 1px solid #1ea83c;
        border-radius: 2px;
        color: #1ea83c;
        width: 100%;
        height: 100%;
    }

    .selected {
        background-color: green;
        color: white;
    }
</style>
<div class="row mt-3">
    <div class="col-lg-10">
        <div style="background: lightgrey; padding: 20px;" class="ml-3 mb-4">
            <div class="container">
                <div style="display: flex;justify-content:center; align-items: center; overflow-x: auto; margin-top: 20px;">
                    <table>
                        @{
                            var MaxY = 12;
                            var MaxX = 5;
                            for (int y = 1; y <= MaxY; y++)
                            {
                                <tr>
                                    @for (int x = 1; x <= MaxX; x++)
                                    {
                                        <td style="height: 30px !important; width: 30px !important">
                                            <button class="buttons" onclick="toggleButton(this)">@x,@y</button>
                                        </td>
                                    }
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>
        <div id="continue" style="text-align: center; position: relative;  margin-top:10px; margin-bottom:20px; left: 50%; transform: translateX(-50%);">
            <button id="continue" class="btn btn-outline-primary">Continue</button>
        </div>
    </div>
    <div class="col-2  ml-0">
        <div style="font-family: Arial, sans-serif; margin: 0 auto; border: 1px solid #ccc; background-color:lightgrey; padding: 20px; border-radius: 8px; 
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); text-align: center; width:285px; ">
            <div class="row">
                <h4 class="mb-1" style="color: #333; margin-bottom: 10px; background-color:#F9F7F5; padding: 10px;">@Model.OperatorName</h4>
                <div style="text-align: left;">
                    <p class ="mb-1" style="margin: 0; color: #555; font-size: 15px;">
                        <strong>Level:</strong>&nbsp; @Model.Level
                    </p>
                    <p class="mb-1" style="margin: 0; color: #555; font-size: 15px;">
                        <strong>DepatureCity:</strong>&nbsp; @Model.DepatureCity
                    </p>
                    <p class="mb-1" style="margin: 0; color: #555; font-size: 15px;">
                        <strong>DestinationCity:</strong>&nbsp; @Model.DestinationCity
                    </p>
                    <p class="mb-1" style="margin: 0; color: #555; font-size: 15px;">
                        <strong>Depature Date:</strong>&nbsp; @Model.Date
                    </p>
                    <p class="mb-1" style="margin: 0; color: #555; font-size: 15px;">
                        <strong>Time:</strong>&nbsp; @Model.Time
                    </p>
                    <p class="mb-1" style="margin: 0; color: #555; font-size: 15px;">
                        <strong>PlateNumber:</strong>&nbsp; @Model.PlateNumber
                    </p>
                    <p class="mb-1" style="margin: 0; color: #555; font-size: 15px;">
                        <strong>Terminal:</strong>&nbsp; @Model.Terminal
                    </p>
                    <p class="mb-1" style="margin: 0; color: #555; font-size: 15px;">
                        <strong>Tariff:</strong>&nbsp; @Model.Tariff
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var plateNumber = "@Model.PlateNumber";
    var terminal = " @Model.Terminal";
    var level = "@Model.Level";
    var distance = "@Model.Distance";
    var tariff = "@Model.Tariff";
    var route = "@Model.Route";
    var operatorName = "@Model.OperatorName";
    var scheduleDate = "@Model.Date";
    var scheduleTime = "@Model.Time";
    var destinationCity = "@Model.DestinationCity";
    var depatureCity = "@Model.DepatureCity";
    var selectedButtons = [];
    var selectedButtonsCount = 0;
    function toggleButton(button) {
        var index = selectedButtons.indexOf(button.innerText);
        if (index === -1) {
            selectedButtons.push(button.innerText);
            button.classList.add('selected');
        } else {
            selectedButtons.splice(index, 1);
            button.classList.remove('selected');
        }
        selectedButtonsCount = selectedButtons.length;
        console.log(selectedButtons);
    }
    $(document).ready(function () {
        $("#continue").click(function () {
            if (selectedButtonsCount >= 1) {
                var form = $('<form action="/BusPassengerInfo/PassengerInfo" method="Post"></form>');
                selectedButtons.forEach(function (seatName) {
                    form.append('<input type="hidden" name="selectedButtons" value="' + seatName + '">');
                });

                form.append('<input type="hidden" name="plateNumber" value="' + plateNumber + '">');
                form.append('<input type="hidden" name="terminal" value="' + terminal + '">');
                form.append('<input type="hidden" name="level" value="' + level + '">');
                form.append('<input type="hidden" name="distance" value="' + distance + '">');
                form.append('<input type="hidden" name="tariff" value="' + tariff + '">');
                form.append('<input type="hidden" name="route" value="' + route + '">');
                form.append('<input type="hidden" name="operatorName" value="' + operatorName + '">');
                form.append('<input type="hidden" name="scheduleDate" value="' + scheduleDate + '">');
                form.append('<input type="hidden" name="scheduleTime" value="' + scheduleTime + '">');
                form.append('<input type="hidden" name="destinationCity" value="' + destinationCity + '">');
                form.append('<input type="hidden" name="depatureCity" value="' + depatureCity + '">');
                form.append('<input type="hidden" name="selectedButtonsCount" value="' + selectedButtonsCount + '">');
                $("body").append(form);
                form.submit();
            }
            else{
                alert("please select seats!!")
            }
            
        });
    });
</script>
<partial name="_Footer" />