@model HulubejeBooking.Models.BusModels.BusSeatLayout
@{
    var isVaild = ViewBag.isVaild;
    var isLoggedIN = ViewBag.isLoggedIn;
}
<script>
    sessionStorage.setItem("isValid", @Json.Serialize(@isVaild));
    sessionStorage.setItem("isLoggedIn", @Json.Serialize(@isLoggedIN));
</script>
<partial name="_Navigation" />
<style>
    @@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap'); 
    .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        font-size: 10px;
        font-weight: 400;
        background: #fff;
        border: 1px solid #1ea83c;
        border-radius: 2px;
        color: #1ea83c;
        width: 100%;
        height: 100%;
    }

    .selected {
        background-color: green;
        color: white;
    }

    #continue {
        display: inline-block;
        font-size: 15px;
        font-family: 'Playfair Display', sans-serif;
        color: #fff;
        background-color: #4CAF50;
        border: 2px solid #4CAF50;
        border-radius: 5px;
        transition: background-color 0.3s, color 0.3s;
        cursor: pointer;
    }

        #continue:hover {
            background-color: #45a049;
            color: #fff;
        }
</style>
<head>
    <title>Seat Layout</title>
</head>
<div class="row mt-3">
    <div class="col-lg-10">
        <div style="background: lightgrey; padding: 20px;" class="ml-3 mb-4">
            <div class="container">
                <div style="display: flex;justify-content:center; align-items: center; overflow-x: auto; margin-top: 20px;">
                    <table>
                        @{
                            var seatLayout = Model?.SeatLayout;
                            var seats = seatLayout?.Seats;

                            if (seatLayout != null && seats != null)
                            {
                                var maxX = seatLayout.MaxX;
                                var maxY = seatLayout.MaxY;

                                for (int y = 1; y <= maxY; y++)
                                {
                                        <tr>
                                            @for (int x = 1; x <= maxX; x++)
                                        {
                                            var seat = seats.FirstOrDefault(s => s.X == x && s.Y == y && (s.Type == "Seat" || s.Type == "Driver Seat" || s.Type == "OOO"));

                                            if (seat != null)
                                            {
                                                    <td style="height: 30px !important; width: 30px !important">
                                                    <button class="buttons rounded" id="@seat.Id" style="background-color: @(seat.Type == "Driver Seat" ? "yellow" : "");background-color: @(seat.Type == "OOO" ? "black" : ""); color: @(seat.Type == "OOO" ? "white" : ""); border-color:@(seat.Type == "OOO" ? "Black" : "")"
                                                            onclick="toggleButton(this)" @(seat.Type == "Driver Seat" ? "disabled" : "")@(seat.Type == "OOO" ? "disabled" : "")>@seat.Name</button>
                                                    </td>
                                            }
                                            else
                                            {
                                                    <td style="height: 30px !important; width: 30px !important">
                                                    </td>
                                            }
                                        }
                                        </tr>
                                }
                            }
                        }
                    </table>
                </div>
            </div>
        </div>
        <div id="continue" style="text-align: center; position: relative;  margin-top:10px; margin-bottom:20px; left: 50%; transform: translateX(-50%);">
            <button id="continue" class="btn btn-sm">Continue</button>
        </div>
    </div>
    <div class="col-2  ml-0">
        <div style="font-family: Arial, sans-serif; margin: 0 auto; border: 1px solid #ccc; background-color:lightgrey; padding: 20px; border-radius: 8px; 
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); text-align: center; width:285px; ">
            <div class="row">
                <h4 class="mb-1" style="color: #333; margin-bottom: 10px; background-color:#F9F7F5; padding: 10px;">@Model?.OperatorName</h4>
                <div style="text-align: left;">
                    <p class ="mb-1" style="margin: 0; color: #555; font-size: 15px;">
                        <strong>Level:</strong>&nbsp; @Model?.Level
                    </p>
                    <p class="mb-1" style="margin: 0; color: #555; font-size: 15px;">
                        <strong>Depature City:</strong>&nbsp; @Model?.DepatureCity
                    </p>
                    <p class="mb-1" style="margin: 0; color: #555; font-size: 15px;">
                        <strong>Destination City:</strong>&nbsp; @Model?.DestinationCity
                    </p>
                    <p class="mb-1" style="margin: 0; color: #555; font-size: 15px;">
                        <strong>Depature Date:</strong>&nbsp; @Model?.Date
                    </p>
                    <p class="mb-1" style="margin: 0; color: #555; font-size: 15px;">
                        <strong>Time:</strong>&nbsp; @Model?.Time
                    </p>
                    <p class="mb-1" style="margin: 0; color: #555; font-size: 15px;">
                        <strong>Plate Number:</strong>&nbsp; @Model?.PlateNumber
                    </p>
                    <p class="mb-1" style="margin: 0; color: #555; font-size: 15px;">
                        <strong>Terminal:</strong>&nbsp; @Model?.Terminal
                    </p>
                    <p class="mb-1" style="margin: 0; color: #555; font-size: 15px;">
                        <strong>Tariff:</strong>&nbsp; @Model?.Tariff
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var plateNumber = "@Model?.PlateNumber";
    var vehicleOperatorId = "@Model?.VehicleOperatorId";
    var routeScheduleId = "@Model?.RouteScheduleId";
    var terminal = " @Model?.Terminal";
    var level = "@Model?.Level";
    var distance = "@Model?.Distance";
    var tariff = "@Model?.Tariff";
    var route = "@Model?.Route";
    var operatorName = "@Model?.OperatorName";
    var scheduleDate = "@Model?.Date";
    var scheduleTime = "@Model?.Time";
    var destinationCity = "@Model?.DestinationCity";
    var depatureCity = "@Model?.DepatureCity";
    var arrivialDate = "@Model?.ArrivialDate";
    var departureDate = "@Model?.DepartureDate";
    var destinationTermianl = "@Model?.DestinationTermianl";
    var originTerminalName = "@Model?.OriginTerminalName";
    var via = "@Model?.Via";
    var selectedButtons = [];
    var selectedButtonsId = [];
    var selectedButtonsCount = 0;
    function toggleButton(button) {
        var index = selectedButtons.indexOf(button.innerText);
        var idIndex = selectedButtonsId.indexOf(button.id);
        if (index === -1) {
            selectedButtons.push(button.innerText);
            selectedButtonsId.push(button.id);
            button.classList.add('selected');
        } else {
            selectedButtons.splice(index, 1);
            selectedButtonsId.splice(idIndex, 1);
            button.classList.remove('selected');
        }
        selectedButtonsCount = selectedButtons.length;
    }
    $(document).ready(function () {
        $("#continue").click(function () {
            if (selectedButtonsCount >= 1) {
                var form = $('<form action="/BusPassengerInfo/PassengerInfo" method="Post"></form>');
                selectedButtons.forEach(function (seatName) {
                    form.append('<input type="hidden" name="seatName" value="' + seatName + '">');
                });
                selectedButtonsId.forEach(function (seatId) {
                    form.append('<input type="hidden" name="seatId" value="' + seatId + '">');
                }); 
                form.append('<input type="hidden" name="plateNumber" value="' + plateNumber + '">');
                form.append('<input type="hidden" name="terminal" value="' + terminal + '">');
                form.append('<input type="hidden" name="level" value="' + level + '">');
                form.append('<input type="hidden" name="distance" value="' + distance + '">');
                form.append('<input type="hidden" name="tariff" value="' + tariff + '">');
                form.append('<input type="hidden" name="route" value="' + route + '">');
                form.append('<input type="hidden" name="routeScheduleId" value="' + routeScheduleId + '">');
                form.append('<input type="hidden" name="operatorName" value="' + operatorName + '">');
                form.append('<input type="hidden" name="scheduleDate" value="' + scheduleDate + '">');
                form.append('<input type="hidden" name="scheduleTime" value="' + scheduleTime + '">');
                form.append('<input type="hidden" name="destinationCity" value="' + destinationCity + '">');
                form.append('<input type="hidden" name="depatureCity" value="' + depatureCity + '">');
                form.append('<input type="hidden" name="arrivialDate" value="' + arrivialDate + '">');
                form.append('<input type="hidden" name="departureDate" value="' + departureDate + '">');
                form.append('<input type="hidden" name="vehicleOperatorId" value="' + vehicleOperatorId + '">');
                form.append('<input type="hidden" name="selectedButtonsCount" value="' + selectedButtonsCount + '">');
                form.append('<input type="hidden" name="destinationTermianl" value="' + destinationTermianl + '">');
                form.append('<input type="hidden" name="originTerminalName" value="' + originTerminalName + '">');
                form.append('<input type="hidden" name="via" value="' + via + '">');
                $("body").append(form);
                form.submit();
            }
            else{
                alert("please select seats!!")
            }
            
        });
    });
</script>
<partial name="_Footer" />