@model List<HulubejeBooking.Models.BusModels.VwRouteSchedule>
<head>
    <title>Route Schedule</title>
    <style>
        .busAmenities {
            display: flex;
            flex-wrap: wrap;
        }

            .busAmenities div {
                flex-basis: 50%;
                box-sizing: border-box;
            }

        .amenities {
            display: flex;
            align-items: center;
        }

        label {
            white-space: nowrap;
            margin-left: 5px;
        }

        .no-schedule-message {
            height: 260px;
            background-color: #f8f9fa;
            border: 1px solid #ced4da;
            border-radius: 5px;
            transition: box-shadow 1s ease;
        }

            .no-schedule-message p {
                font-size: 18px;
                color: #6c757d;
            }

            .no-schedule-message:hover {
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            }

        .customs{
            min-height: 75vh;
        }
    </style>
</head>
@{
    var isVaild = ViewBag.isVaild;
    var isLoggedIN = ViewBag.isLoggedIn;
}
<script>
    sessionStorage.setItem("isValid", @Json.Serialize(@isVaild));
    sessionStorage.setItem("isLoggedIn", @Json.Serialize(@isLoggedIN));
</script>
<partial name="_Navigation" />
<div class="container">
    <div class="customs">
        @if (Model.Count > 0)
        {
            <div class="row pb-3 mt-3">
                <div class="col-md-4 filters" style="padding-left: 30px; padding-right:30px;">
                    <div class="row" style="padding-right: 0px; padding-left:0px;">
                        <form>
                            <fieldset>
                                <div class="row mt-2 bg-light rounded shadow" style="border: 1px solid black">
                                    <legend>Filter by Amenities</legend>
                                    <div class="busAmenities pl-3">
                                        <div class="amenities">
                                            <input type="checkbox" id="wifi" name="busAmenities" value="wifi">
                                            <label for="Wifi">Wifi</label>
                                        </div>
                                        <div class="amenities">
                                            <input type="checkbox" id="charger" name="busAmenities" value="charger">
                                            <label for="Wifi">Power Outlets</label>
                                        </div>
                                        <div class="amenities">
                                            <input type="checkbox" id="snack" name="busAmenities" value="snack">
                                            <label for="Snack">Snack </label>
                                        </div>
                                        <div class="amenities">
                                            <input type="checkbox" id="chair" name="busAmenities" value="chair">
                                            <label for="chair">Comfy chair</label>
                                        </div>
                                        <div class="amenities">
                                            <input type="checkbox" id="tv" name="busAmenities" value="tv">
                                            <label for="tv">TV</label>
                                        </div>
                                        <div class="amenities">
                                            <input type="checkbox" id="water" name="busAmenities" value="water">
                                            <label for="water">Bottled water</label>
                                        </div>
                                        <div class="amenities">
                                            <input type="checkbox" id="aircon" name="busAmenities" value="aircon">
                                            <label for="aircon">Air Conditioning</label>
                                        </div>

                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="col-md-8 schedules">

                    @foreach (var schedule in Model)
                    {
                        <div class="card w-100 mt-2 border-dark rounded">
                            <div class="row">
                                <div class="col-lg-6" style="top: 15px;">
                                    <img src="../Assets/bus.png" class="img-fluid rounded-start" alt="..." style="height:200px; width:300px;">
                                </div>
                                <div class="col-lg-6">
                                    <div class="card-body">
                                        <div class="row align-items-start bg-light p-2 pl-3">
                                            <div class="col-sm-10 col-12">
                                                <a href="#">
                                                    <h5 class="card-title operatorName">@schedule?.VehicleOperator</h5>
                                                </a>
                                                <p class="mb-1">
                                                    <span><i class="fas fa-route"></i></span><span class="route ml-2">@schedule?.RouteDescription </span><span><i class="fas fa-highway"></i></span>
                                                </p>
                                                <p class="level mb-1"><span><i class="fas fa-star mr-2"></i></span>@schedule?.LevelDesc</p>
                                                @{
                                                    string formattedDate = schedule?.DepartureDate != null ? schedule.DepartureDate.ToString("ddd, MMM d, yyyy") : DateTime.MinValue.ToString();
                                                    string formattedTime = schedule?.DepartureDate != null ? schedule.DepartureDate.ToString("h:mm tt") : DateTime.MinValue.ToString();
                                                    <p class="scheduleDate mb-1"><span><i class="bi bi-calendar-date mr-1"></i></span> @formattedDate</p>
                                                    @if (DateTime.TryParse(formattedTime, out DateTime utcTime))
                                                    {
                                                        DateTime ethiopianTime = utcTime.ToString("tt").Equals("AM") ? utcTime.AddHours(6) : utcTime.AddHours(-6);
                                                        <p class="scheduleTime mb-1"><span><i class="fas fa-stopwatch mr-1"></i></span> @formattedTime (@ethiopianTime.ToString("h.mm tt") LT)</p>
                                                    }
                                                }
                                                <p class="destinationCity" style="display: none">@schedule?.DestCityName</p>
                                                <p class="sheduleId" style="display: none">@schedule?.Id</p>
                                                <p class="distance" style="display: none">@schedule?.Distance</p>
                                                <p class="originTerminalName" style="display: none">@schedule?.OriginTerminalName</p>
                                                <p class="via" style="display: none">@schedule?.ViaDescription</p>
                                                <p class="destinationTermianl" style="display: none">@schedule?.DestinationTerminalName</p>
                                                <p class="vehicle" style="display: none">@schedule?.Vehicle</p>
                                                <p class="routeSchedule" style="display: none">@schedule?.Id</p>
                                                <p class="vehicleOperatorId" style="display: none">@schedule?.VehicleOperatorId</p>
                                                <p class="departureDate" style="display: none">@schedule?.DepartureDate</p>
                                                <p class="depatureCity" style="display: none">@schedule?.DepatureCity</p>
                                                <p class="arrivalDate" style="display: none">@schedule?.ArrivalDate</p>
                                                <p class="plateNumber mb-1"><span><i class="fas fa-bus-alt mr-2"></i></span>@schedule?.VehiclePlateNumber (@schedule?.SideNumber)</p>
                                                <p class="terminal mb-1"><span><i class="fas fa-map-marker-alt mr-2"></i></span>@schedule?.OriginTerminalName</p>
                                                <p class="mb-1">
                                                    <span><i class="fas fa-road mr-2"></i></span>Distance<span class="distances">@schedule?.Distance KM</span>, @(schedule?.TravelDuration != null ? $"Duration {schedule.TravelDuration}" : "")
                                                </p>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <p class="tariff">
                                                        <span><i class="fas fa-dollar-sign mr-2 mt-2"></i></span>@(schedule?.Tariff != null ? Math.Round(schedule.Tariff, 2) : "N/A") ETB
                                                    </p>
                                                    <button class="book btn btn-sm btn-primary">Book</button>
                                                </div>
                                                <div class="d-flex justify-content-lg-start align-text-center flex-wrap">
                                                    <span class="mr-2 mb-2" style="padding: 5px; border: 1px solid #dee2e6; border-radius: 5px;"><i class="fas fa-wifi"></i></span>
                                                    <span class="mr-2 mb-2" style="padding: 5px; border: 1px solid #dee2e6; border-radius: 5px;"><i class="fas fa-charging-station"></i></span>
                                                    <span class="mr-2 mb-2" style="padding: 5px; border: 1px solid #dee2e6; border-radius: 5px;"><i class="fas fa-cookie"></i></span>
                                                    <span class="mr-2 mb-2" style="padding: 5px; border: 1px solid #dee2e6; border-radius: 5px;"><i class="fas fa-tv"></i></span>
                                                    <span class="mr-2 mb-2" style="padding: 5px; border: 1px solid #dee2e6; border-radius: 5px;"><i class="fas fa-snowflake"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
        else
        {
            <div class="d-flex justify-content-center align-items-center no-schedule-message my-lg-5 my-3">
                <p class="text-center">There Are No Schedules For This Day</p>
            </div>
        }
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        $(document).ready(function () {
            $(".book").click(function () {
                var form = $('<form action="/busseatlayout" method="post"></form>');

                var plateNumber = $(this).closest('.card-body').find('.plateNumber').text().trim();
                var terminal = $(this).closest('.card-body').find('.terminal').text().trim();
                var distance = $(this).closest('.card-body').find('.distance').text().trim();
                var routeSchedule = $(this).closest('.card-body').find('.routeSchedule').text().trim();
                var tariff = $(this).closest('.card-body').find('.tariff').text().trim();
                var level = $(this).closest('.card-body').find('.level').text().trim();
                var route = $(this).closest('.card-body').find('.route').text().trim();
                var operatorName = $(this).closest('.card-body').find('.operatorName').text().trim();
                var vehicleOperatorId = $(this).closest('.card-body').find('.vehicleOperatorId').text().trim();
                var scheduleDate = $(this).closest('.card-body').find('.scheduleDate').text().trim();
                var scheduleTime = $(this).closest('.card-body').find('.scheduleTime').text().trim();
                var destinationCity = $(this).closest('.card-body').find('.destinationCity').text().trim();
                var depatureCity = $(this).closest('.card-body').find('.depatureCity').text().trim();
                var arrivalDate = $(this).closest('.card-body').find('.arrivalDate').text().trim();
                var departureDate = $(this).closest('.card-body').find('.departureDate').text().trim();
                var vehicle = $(this).closest('.card-body').find('.vehicle').text().trim();
                var destinationTermianl = $(this).closest('.card-body').find('.destinationTermianl').text().trim();
                var originTerminalName = $(this).closest('.card-body').find('.originTerminalName').text().trim();
                var via = $(this).closest('.card-body').find('.via').text().trim();
                var sheduleId = $(this).closest('.card-body').find('.sheduleId').text().trim();

                form.append('<input type="hidden" name="plateNumber" value="' + plateNumber + '">');
                form.append('<input type="hidden" name="terminal" value="' + terminal + '">');
                form.append('<input type="hidden" name="level" value="' + level + '">');
                form.append('<input type="hidden" name="distance" value="' + distance + '">');
                form.append('<input type="hidden" name="tariff" value="' + tariff + '">');
                form.append('<input type="hidden" name="route" value="' + route + '">');
                form.append('<input type="hidden" name="routeSchedule" value="' + routeSchedule + '">');
                form.append('<input type="hidden" name="operatorName" value="' + operatorName + '">');
                form.append('<input type="hidden" name="scheduleDate" value="' + scheduleDate + '">');
                form.append('<input type="hidden" name="scheduleTime" value="' + scheduleTime + '">');
                form.append('<input type="hidden" name="destinationCity" value="' + destinationCity + '">');
                form.append('<input type="hidden" name="depatureCity" value="' + depatureCity + '">');
                form.append('<input type="hidden" name="arrivalDate" value="' + arrivalDate + '">');
                form.append('<input type="hidden" name="departureDate" value="' + departureDate + '">');
                form.append('<input type="hidden" name="vehicleOperatorId" value="' + vehicleOperatorId + '">');
                form.append('<input type="hidden" name="vehicle" value="' + vehicle + '">');
                form.append('<input type="hidden" name="destinationTermianl" value="' + destinationTermianl + '">');
                form.append('<input type="hidden" name="originTerminalName" value="' + originTerminalName + '">');
                form.append('<input type="hidden" name="via" value="' + via + '">');
                form.append('<input type="hidden" name="sheduleId" value="' + sheduleId + '">');
                $("body").append(form);
                form.submit();
            });
        });
    });
</script>

<partial name="_Footer" />