@model HulubejeBooking.Models.CInemaModels.MovieModel
@using HulubejeBooking.Models.CInemaModels
@using System.Web
<div>
    <h2>Schedules</h2>
    @if (Model != null)
    {
        @foreach (var schedule in Model.MovieSchedules ?? new List<MovieSchedules>())
        {
            <div class="card mb-3 p-2">
                <div  style="display: flex; align-items: center; text-align: center;">
                    <div class="card-body bg-dark d-flex justify-content-between p-2 align-items-center mb-1 rounded rounded-2 ">
                        <p class="card-title" style="color: white; margin-bottom: 0;">
                            @schedule.ParentCinemaHall
                            @if (@schedule.DimensionName == "2D")
                            {
                                <span class="badge bg-primary">@schedule.DimensionName</span>
                            }
                            else
                            {
                                <span class="badge bg-danger">@schedule.DimensionName</span>
                            }
                        </p>
                        @{
                            string? utcTimeString = schedule.StartTime.ToString();

                            if (DateTime.TryParse(utcTimeString, out DateTime utcTime))
                            {
                                DateTime ethiopianTime = utcTime.ToString("tt").Equals("AM") ? utcTime.AddHours(6) : utcTime.AddHours(-6);
                                <p class="card-text " style="color: white; margin: 0;">@utcTime.ToString("h.mm tt") (@ethiopianTime.ToString("h.mm tt") Local)</p>
                            }
                            else
                            {
                                <p class="card-text" style="color: red; margin: 0;">Invalid date format</p>
                            }
                        }
                    </div>
                </div>
                <div class="mb-2 d-flex justify-content-start flex-column pt-1 pl-lg-3 pr-lg-3 p-1 ">
                    @if (schedule.Status == "CLOSED")
                    {
                        foreach (var movieSpace in schedule?.MovieSpaces ?? new List<MovieSpace>())
                        {
                            <div class="d-flex justify-content-between p-1 align-items-center">
                                <p style="font-size: 14px; margin: 0px; text-align: center">@movieSpace.CinemaHall</p>
                                <button class="btn btn-danger" type="button" disabled>Closed</button>
                            </div>
                        }
                    }
                    else
                    {

                        if (schedule.MovieSpaces != null)
                        {
                            var count = schedule.MovieSpaces.Count;

                            for (int i = count - 1; i >= 0; i--)
                            {
                                var movieSpace = schedule.MovieSpaces[i];
                                var schdetailId = schedule.SchdetailId;

                                <div class="d-flex justify-content-between p-1 align-items-center">
                                    <p style="font-size: 14px; margin: 0px; text-align: center">@movieSpace.CinemaHall</p>
                                    <button class="btn btn-success col-6 " type="button" style="max-width: 210px;"
                                            onclick="onScheduleButtonClick('@movieSpace.Id',' @movieSpace.SpaceId', '@Model?.CompanyCode','@schdetailId' , '@Model?.CompanyTinNumber?.ToString()','@Model?.BranchCode?.ToString()' )">
                                        Book Now @($"{movieSpace.PriceValue:F2}") Birr
                                    </button>
                                </div>
                            }
                        }

                        }
                </div>
            </div>
        }       
        
    }
    
</div>