@model HulubejeBooking.Models.CInemaModels.MovieModel
<head>
    <script src="https://www.youtube.com/iframe_api"></script>
    <title> Movie Schedules</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column; /* Stack children vertically */
        }

        .background-container {
            position: relative;
            overflow: hidden;
        }

        .background-image {
            height: 100%; /* Set height to 100% of the container */
            display: flex;
            align-items: center;
            justify-content: center; /* Center the content vertically */
            position: relative; /* Set position to relative for absolute positioning */
        }

            .background-image::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url('@Model?.BackdropPath') center/cover no-repeat; 
                filter: blur(5px);
            }

        .info-container {
            background-color: rgba(255, 255, 255, 0.4);
            padding: 20px;
            border-radius: 8px;
            margin-top: -30px; /* Adjust margin to overlap with the background image */
            z-index: 2; /* Bring the content to the front */
        }

            .info-container img {
                width: 300px; /* Set the width to your desired value */
                height: 450px; /* Set the height to your desired value */
                object-fit: cover; /* Maintain aspect ratio and cover the container */
                border-radius: 8px; /* Add border-radius for a rounded look */
            }

        .movienName {
            margin-top: 10px;
            margin-bottom: 10px;
            font-weight: bold;
            font-size: 30px;
            color: blue; 
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        .details {
            margin-top: 10px;
            margin-bottom: 10px;
            color: black;
        }

        .companyName {
            color: black;
            font-size: 40px;
        }
        /* Add this CSS to your stylesheet */
        .btn:focus,
        .btn:active {
            outline: none !important;
            box-shadow: none !important;
        }

        .cast-section {
            overflow-x: auto; /* Enable horizontal scrolling */
            white-space: nowrap; /* Prevent line breaks */
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            z-index: 1; /* Bring the cast section to the front */
        }

        .cast-card {
            display: inline-block;
            margin: 0 10px; /* Adjust margin for spacing */
            max-width: 180px; /* Set the maximum width of the cast card */
            text-align: center;
        }

            .cast-card img {
                max-width: 100%;
                max-height: 200px; /* Set the maximum height of the cast card image */
                height: auto;
                border-radius: 8px;
            }

        .cast-card-title {
            margin-top: 10px;
            font-weight: bold;
        }

        .img-fluid {
            max-width: 100%;
            height: auto;
        }

        /* Media query for small screens */
        @@media (max-width: 576px) {
            .img-fluid {
                max-width: 80%;
            }
        }

        /* Media query for medium screens */
        @@media (min-width: 577px) and (max-width: 768px) {
            .img-fluid {
                max-width: 70%;
            }
        }

        /* Media query for large screens */
        @@media (min-width: 769px) and (max-width: 992px) {
            .img-fluid {
                max-width: 60%;
            }
        }

        /* Media query for extra-large screens */
        @@media (min-width: 993px) {
            .img-fluid {
                max-width: 50%;
            }
        }


    </style>
    <partial name="_Navigation" />
</head>
@{
    var isVaild = ViewBag.isVaild;
    var isLoggedIN = ViewBag.isLoggedIn;
}
<script>
    sessionStorage.setItem("isValid", @Json.Serialize(@isVaild));
    sessionStorage.setItem("isLoggedIn", @Json.Serialize(@isLoggedIN));
</script>
<body>
    <div class="background-container vh-50 md-vh-auto">
        <div class="background-image">
            <!-- Empty container to hold the background image -->
            <div class="info-container container mt-3 mb-3">
                <div class="row">
                    <div class="col-md-4 d-flex justify-content-center">
                        <img src="@Model?.PosterUrl" alt="Movie Poster" style="max-width: 100%;">
                    </div>
                    <div class="col-md-8 mt-3">
                        <h4 class="companyName" style="background-color:rgba(0,0,0,0.3) ">@Model?.CompanyName</h4>
                        <h1 class="movienName" >@Model?.MovieName</h1>
                        @if(Model?.Overview is not null)
                        {
                            <h4 class="details">Overview</h4>
                            <p class="details">@Model?.Overview</p>
                        }
                        <div>
                            @functions {
                                // Helper function to get the color based on genre
                                string GetGenreColor(string genreName)
                                {
                                    switch (genreName)
                                    {
                                        case "Action": return "#E57373";
                                        case "Adventure": return "#81C784";
                                        case "Animation": return "#64B5F6";
                                        case "Comedy": return "#FFD54F";
                                        case "Crime": return "#BA68C8";
                                        case "Documentary": return "#90A4AE";
                                        case "Drama": return "#FFB74D";
                                        case "Family": return "#A1887F";
                                        case "Fantasy": return "#B0BEC5";
                                        case "History": return "#9575CD";
                                        case "Horror": return "#EC407A";
                                        case "Music": return "#FFF176";
                                        case "Mystery": return "#7986CB";
                                        case "Romance": return "#F48FB1";
                                        case "Science Fiction": return "#80DEEA";
                                        case "TV Movie": return "#C5E1A5";
                                        case "Thriller": return "#64B5F6";
                                        case "War": return "#FF8A65";
                                        case "Western": return "#BCAAA4";
                                        default: return "lightgray";
                                    }
                                }
                            }
                            @if (Model?.Genres?.Count > 0)
                            {
                                <h4 class="details">Genres</h4>
                                @foreach (var genre in Model.Genres)
                                {
                                    if (genre.Name is not null)
                                    {
                                        <div style="display: inline-block; margin-right: 15px; padding: 5px; background-color:@GetGenreColor(genre.Name); color:white; border-radius:7px;">@genre.Name</div>
                                    }
                                }
                            }
                        </div>
                        <div>
                            @if(Model?.FormattedRunTime is not null)
                            {
                                <h4 style="display: inline-block; margin-right: 10px;">Runtime:</h4>
                                <p class="details" style="display: inline-block;">@Model?.FormattedRunTime</p>
                            }
                        </div>
                        <div>
                            @if(Model?.PgRating is not null)
                            {
                                <h4 style="display: inline-block; margin-right: 10px;">Pg-Rating:</h4>
                                <p class="details" style="display: inline-block;">@Model?.PgRating</p>
                            }
                        </div>
                        <div>
                            @if (Model?.ReleaseDate is not null)
                            {
                                <h4 style="display: inline-block; margin-right: 10px;">Release Year:</h4>
                                var releaseDate = Model?.ReleaseDate?.ToString("yyyy-MM-dd");
                                <p class="details" style="display: inline-block;">@releaseDate</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Existing code ... -->

    <div class="container py-5">
        
        @if (Model?.Cast?.Count >0)
        {
            <h4 style="color: black">
                Casts
            </h4>
            <div class="cast-section">
                @foreach (var castMember in Model.Cast.Take(15))
                {
                    <div class="cast-card">
                        @if (castMember.ProfilePath == "https://image.tmdb.org/t/p/w500")
                        {
                            <div class="d-flex justify-content-center">
                                <img src="https://hulubeje.cnetcommerce.com/assets/assets/images/actor.png" alt="@castMember.Name" class="img-fluid" style="max-width: 100%;">
                            </div>
                        }
                        else
                        {
                            <img src="@castMember.ProfilePath" alt="@castMember.Name" class="img-fluid">
                        }
                        <div class="cast-card-title">@castMember.Name</div>
                    </div>
                }
            </div>
        }
        <div class="row">
            <div class="col-lg-6" style="margin-top: 30px;">
                @if (!string.IsNullOrEmpty(Model?.YoutubeKey))
                {
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/@Model?.YoutubeKey?rel=0" allowfullscreen></iframe>
                    </div>
                }
                else
                {
                    <partial name="_Schedules" />
                }
            </div>

            <div class="col-lg-6" style="margin-top: 30px;">
                @if (!string.IsNullOrEmpty(Model?.YoutubeKey))
                {
                    <partial name="_Schedules" />
                }
            </div>
        </div>
    </div>

    <script>
        function onScheduleButtonClick(priceValue, id, speceId, price, companyCode, schdetailId, companyTinNumber, branchCode, dimension, movieName, utcTime, hallName, selectedDate, articleCode, spacecode, movieCode, spaceType, code) {
            sessionStorage.removeItem("remainingTime");
            sessionStorage.removeItem("countdownStarted");
            sessionStorage.removeItem("secondsAdded");
            sessionStorage.removeItem("selectedSeatNames");
            sessionStorage.removeItem("selectedSeats");
            sessionStorage.removeItem("secondsAddedInPayement");
            sessionStorage.removeItem("secondsAddedInOtp");
            articleCode = '@Model?.ArticleCode?.ToString()';
            var seatCacheKey = "cinema_" + companyTinNumber + '_' + branchCode + '_' + schdetailId + '_' + "@Model?.PhoneNumber";
            var key = {
                key: seatCacheKey
            }
            $.ajax({
                url: 'CinemaMovieDetails/DeleteEntry',
                contentType: 'application/json',
                method: "POST",
                data: JSON.stringify(key),
                success: function (response) {
                    console.log(response);
                },
                error: function (xhr, status, error) {
                    console.error("Error fetching seat status:", error);
                }
            });
            var form = $('<form action="/cinemaseatlayout" method="post"></form>');
            form.append('<input type="hidden" name="spacecode" value="' + spacecode + '">');
            form.append('<input type="hidden" name="schdetailId" value="' + schdetailId + '">');
            form.append('<input type="hidden" name="id" value="' + id + '">');
            form.append('<input type="hidden" name="companyCode" value="' + companyCode + '">');
            form.append('<input type="hidden" name="speceId" value="' + speceId + '">');
            form.append('<input type="hidden" name="companyTinNumber" value="' + companyTinNumber.toString() + '">');
            form.append('<input type="hidden" name="branchCode" value="' + branchCode + '">');
            // form.append('<input type="hidden" name="companyName" value="' + companyName + '">');
            form.append('<input type="hidden" name="movieName" value="' + movieName + '">');
            form.append('<input type="hidden" name="movieCode" value="' + movieCode + '">');
            form.append('<input type="hidden" name="dimension" value="' + dimension + '">');
            form.append('<input type="hidden" name="spaceType" value="' + spaceType + '">');
            form.append('<input type="hidden" name="selectedDate" value="' + selectedDate + '">');
            form.append('<input type="hidden" name="code" value="' + code + '">');
            form.append('<input type="hidden" name="price" value="' + price + '">');
            form.append('<input type="hidden" name="hallName" value="' + hallName + '">');
            form.append('<input type="hidden" name="utcTime" value="' + utcTime + '">');
            form.append('<input type="hidden" name="priceValue" value="' + priceValue + '">');
            form.append('<input type="hidden" name="articleCode" value="' + articleCode + '">');

            $('body').append(form);
            form.submit();
        }
    </script>
</body>
<partial name="_Footer" />