@model HulubejeBooking.Models.SpaModels.SpaBillView
<partial name="_Navigation" />
<head>
    <title>Bill</title>
</head>
<div class="container d-flex flex-column" style="min-height: 80vh">
    <div class="row justify-content-center">
        <div class="col-md-8 my-3">
            <div class="text-right">
                <p><stong>Date</stong> @(DateTime.Today.ToString("ddd, MMM dd yyyy"))@* : @(Model?.Data?.IssuedDate != null ? DateTime.Parse(Model.Data.IssuedDate.ToString()).ToString("ddd, MMM dd yyyy") : "") *@</p>
            </div>
            <div>
                <p><strong>Company</strong>: BOSTON DAY AND SPA</p>
                <p><strong>Company TIN</strong>: 1001025626</p>
            </div>
            <hr />
            <div class="p-lg-2 pt-0">
                <div class="row d-flex justify-content-between">
                    <div class="col-3 ">
                        <strong>Description</strong>
                    </div>
                    <div class="col-3 d-flex justify-content-center">
                        <strong>Qty</strong>
                    </div>
                    <div class="col-3 d-flex justify-content-center">
                        <strong>Price</strong>
                    </div>
                    <div class="col-3 text-right">
                        <strong>Amount</strong>
                    </div>
                </div>
                <hr />
                <div class="row d-flex justify-content-around">
                    @if (Model?.Bill?.Data?.LineItems != null)
                    {
                        var reversedLineItems = Model.Bill.Data?.LineItems.ToList();
                        reversedLineItems?.Reverse();

                        @foreach (var lineItem in reversedLineItems ?? new List<HulubejeBooking.Models.CInemaModels.LineItem>())
                        {
                            <div class="col-3">
                                <p>@(lineItem?.Name)</p>
                            </div>
                            <div class="col-3 d-flex justify-content-center">
                                <p>@(lineItem?.Quantity?.ToString("0"))</p>
                            </div>
                            <div class="col-3 d-flex justify-content-center">
                                <p>@(lineItem?.UnitAmount?.ToString("0.00"))</p>
                            </div>
                            <div class="col-3 text-right">
                                <p>@(lineItem?.TaxableAmount?.ToString("0.00"))</p>
                            </div>
                        }
                    }
                    
                </div>
                <hr />
                <div class="row">
                    <div class="col-6"><strong>ADDCHARGE</strong></div>
                    <div class="col-6 text-right"><p>@Model?.Bill?.Data?.ExtraCharge?.AddCharge?.ToString("F2")</p></div>
                </div>
                <div class="row">
                    <div class="col-6"><strong>TXBL 1:</strong></div>
                    <div class="col-6 text-right"><p>@Model?.Bill?.Data?.ExtraCharge?.TXBL1?.ToString("F2")</p></div>
                </div>
                <div class="row">
                    <div class="col-6"><strong>TXBL 15%:</strong></div>
                    <div class="col-6 text-right"><p>@Model?.Bill?.Data?.ExtraCharge?.TAX115?.ToString("F2")</p></div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-6"><strong>Grand Total</strong></div>
                    <div class="col-6 text-right"><strong>@Model?.Bill?.Data?.GrandTotal?.ToString("F2")</strong></div>
                </div>
                <hr />
            </div>
        </div>
    </div>
    <div class="row px-3 justify-content-center mb-2">
        <div class="col-md-8 bg-light p-2 rounded rounded-3">
            <div class="row">
                <div class="col-6"><small>Schedule Date</small></div>
                <div class="col-6 text-right"><p>@(Model?.CompanyDetailModel?.SelectedDate?.ToString("ddd, MMM dd yyyy"))</p></div>
            </div>
            <div class="row">
                <div class="col-6"><small>Schedule Time</small> </div>
                <div class="col-6 text-right"><p>@(DateTime.Now.ToString("hh:mm tt"))</p></div>
            </div>
        </div>
    </div>
    <div class="row mt-auto">
        <div class="col-12 text-center">
            <button id="continueBtn" class="btn btn-primary btn-sm">Continue</button>
        </div>
    </div>
</div>
<div class="mt-2">
    <partial name="_Footer" />
</div>
<script>
    $('#continueBtn').on('click', function () {
        var lineItems = [];
        var newItem = {
            name: "Men Hair Cut",
            article: "2011",
            unitAmount: "300.0",
            quantity: "1",
            note: "",
            uom: 0
        };
        lineItems.push(newItem);
        var v7data = {
            Amount: 700,
            BranchCode: 50375,
            CompanyCode: 122225,
            industryType: 1991,
            lineitems: lineItems,
            onSuccess: {
                firstName: '@ViewBag?.Name',
                company: '',
                branch: '',
                movieName: '',
                movieDimension: '',
                hallName: '',
                time: '',
                date: '',
                picture: '',
                scheduleDateTime: ''
            }
        };
        console.log(v7data);

        $.ajax({
            url: '/PaymentHome/Index',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(v7data),
            success: function (/* response */) {
                window.location.href = "/PaymentOptions";
            },
            error: function (error) {
                console.error('Error:', error);
            }
        });
    });
</script>