@model HulubejeBooking.Models.CInemaModels.ProductsViewModel
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="selected-item-container-partial">
    <div class="header" style="display: flex; justify-content: space-between; padding: 5px; background-color: black; color: white; margin-bottom: 10px;">
        <span style="flex: 2 1 0%;">Description</span>
        <span style="flex: 1 1 0%;">Qty</span>
        <span style="flex: 1 1 0%;">Price</span>
        <span style="flex: 1 1 0%; text-align: right;">Amounts</span>
    </div>
    <div style="display: flex; flex-wrap: wrap; justify-content: space-between; padding: 5px; margin-bottom: 5px;">
        @if (Model?.Bill?.Data?.LineItems != null)
        {
            var reversedLineItems = Model.Bill.Data?.LineItems.ToList();
            reversedLineItems?.Reverse();

            @foreach (var lineItem in reversedLineItems ?? new List<HulubejeBooking.Models.CInemaModels.LineItem>())
            {
                <div class="selected-item-partial" style="flex: 0 0 100%;  display: flex; justify-content: space-between;">
                    <span style="flex: 2 1 0%;">@(lineItem?.Name)</span>
                    <span style="flex: 1 1 0%;">@(lineItem?.Quantity?.ToString("0"))</span>
                    <span style="flex: 1 1 0%;">@(lineItem?.UnitAmount?.ToString("0.00"))$</span>
                    <span style="flex: 1 1 0%;text-align: right;">@(lineItem?.TaxableAmount?.ToString("0.00"))$</span>
                </div>
            }
        }
    </div>
</div>
<div class="taxCalculator" style="display: flex; flex-wrap: wrap; justify-content: space-between; padding: 5px; margin-bottom: 5px;">
    <div style="flex: 0 0 100%; margin: 5px; display: flex; justify-content: space-between;">
        <span style="flex: 2 1 0%; text-align: left; margin-right: auto;">TXBL 1</span>
        @if (Model?.Bill?.Data?.ExtraCharge != null)
        {
                <span style="text-align: right; margin-right: 10px">@Model.Bill.Data.ExtraCharge.TXBL1</span>
        } 
    </div>
        <div style="flex: 0 0 100%; margin: 5px; display: flex; justify-content: space-between;">
        <span style="flex: 2 1 0%; text-align: left; margin-right: auto;">TAX1 15%</span>
        @if (Model?.Bill?.Data?.ExtraCharge != null)
        { 
                <span style="text-align: right; margin-right: 10px">@Model.Bill.Data.ExtraCharge.TAX115</span>
        } 
    </div>
    <div class="dotted-line"></div>
    <div style="flex: 0 0 100%; margin: 5px; display: flex; justify-content: space-between;">
        <span style="flex: 2 1 0%; text-align: left; margin-right: auto;"><strong>GRAND TOTAL</strong></span>
        <span style="text-align: right; margin-right: 10px">Total Amount: @(Model?.Bill?.Data?.GrandTotal?.ToString("F2") ?? "N/A")</span>
    </div>
</div>
<script>
    $('#confirmButton').on('click', function () {
        var lineItems = [];

        @foreach (var item in Model?.SelectedItems ?? new List<HulubejeBooking.Models.CInemaModels.SelectedItem>())
        {
            <text>
                    var newItem = {
                    name: "@item.name",
                    article: "@item.article",
                    unitAmount: "@item.unitAmount",
                    quantity: "@item.quantity",
                    specialFlag: "@item.specialFlag"
                };
                lineItems.push(newItem);
            </text>
        }
        lineItems.push({
            name: '@Model?.MovieName',
            article: parseInt('@Model?.ArticleCode'),
            unitAmount: parseFloat('@Model?.Price'),
            quantity: parseInt('@Model?.NumberOfSeats'),
            specialFlag: ""
        });
        var branchcode = "@Model?.BranchCode";
        var companyCode = "@Model?.CompanyCode";
        var selectedSeats = JSON.parse(sessionStorage.getItem('selectedSeats')) || [];
        var selectedSeatNames = JSON.parse(sessionStorage.getItem('selectedSeatNames')) || [];
        var seats = [];

        for (var i = 0; i < selectedSeats.length; i++) {
            var seat = selectedSeats[i];
            var movie = {
                "schedule": parseInt('@Model?.MovieScheduleCode'),
                "seat": parseInt(seat)
            };
            seats.push(movie);
        }
        var v7data = {
            Amount: parseFloat('@Model?.Bill?.Data?.GrandTotal'),
            BranchCode: parseInt(branchcode),
            CompanyCode: parseInt(companyCode),
            industryType: 1988,
            lineitems: lineItems,
            movie: {
                article: parseInt('@Model?.ArticleCode'),
                cacheDetail: {
                    key: '@Model?.SeatCacheKey',
                    extensionDeligate: "booked",
                    extension: 86388,
                },
                seats: seats,
            },
        };
        $.ajax({
            url: '/PaymentHome/Index',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(v7data),
            success: function (/* response */) {
                window.location.href = "/PaymentOptions";
            },
            error: function (error) {
                console.error('Error:', error);
            }
        });
    });
</script>